# Imports

In [258]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import html5lib
import lxml
import re
from datetime import datetime
import time
import itertools
import random
import numpy as np
from io import BytesIO

# Setup

In [3]:
# OHSAA Southwest District conferences
domains = ['https://eccsports.com/',
           'https://gmcsports.com/',
           'http://www.swocsports.com/',
           'http://www.swblsports.com/',
           'http://sbaac.com/',
           'http://ggcl.gclsports.com/',
           ]

# Gender URL examples (standings, schedule, statistics)
girls = ['35', '215', '218']
boys = ['30', '137', '162']

# Requests headers
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'}

# Download List of Matches

In [156]:
match_ids = []
totals_rows_list = []
for year in range(2007, 2023):
    for gender in [girls, boys]:
        for domain in domains[:]:
            page = requests.get(
                f'{domain}schedule.aspx?satc={gender[1]}&cmp=1&year={year}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            title = soup.find('title').string
            match_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in match_links:
                href = link['href']
                matches = re.findall(r'id=(.*)', href)

                # Add to list of Match IDs
                match_ids.append(matches[0])

                # Add to list of Match IDs with totals from table
                id = int(matches[0])
                total = link.parent.find_previous_sibling().findChild().contents
                date = link.find_previous('th').find_previous('th').contents
                date_parsed = str(datetime.strptime(
                    date[0], '%A, %B %d, %Y').isoformat()[:10])

                row = [id, total, date_parsed,
                       f'{year}-{year+1}', gender[1], domain, title]
                totals_rows_list.append(row)
            time.sleep(.25)

In [158]:
df_matches_totals = pd.DataFrame(totals_rows_list, columns=[
                                 'match_id', 'total', 'date', 'year', 'gender', 'domain', 'title'])
df_matches_totals['total'] = df_matches_totals['total'].str[0]
df_matches_totals.to_csv('matches_sw_district.csv')
df_matches_totals

,match_id,total,date,year,gender,domain,title
0,22219,"Loveland 1602, Hamilton 1313",2008-11-24,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
1,22220,"Middletown 2206, Sycamore 1976",2008-11-24,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
2,22222,"Princeton 2318, Colerain 1895",2008-11-25,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
3,22221,"Mason 1827, Hamilton 1465",2008-11-25,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
4,23966,"Lakota East 2072, Walnut Hills 1728",2008-12-01,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
...,...,...,...,...,...,...,...
11028,237373,"New Richmond 2741, McNicholas 2502",2022-02-08,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11029,218533,"Clermont Northeastern 2256, East Clinton 2112",2022-02-08,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11030,237374,"Georgetown 2489, New Richmond 2337",2022-02-11,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11031,240020,Felicity-Franklin at Sectional Tournament **sc...,2022-02-15,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11032,240129,"Western Brown 2428, New Richmond 2206",2022-02-21,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference

## Filter out matches without scores or outside usual

In [ ]:
has_score_filter = df_matches_totals['Total'].str.contains('(\d\d\d.*){2}')
df_has_score = df_matches_totals[has_score_filter]
not_actual_match = df_has_score['Total'].str.contains(
    '(\d\d\d.+){3,}|( Tournament )|( at )|(lassic)|(,.+){2}')
df_has_score = df_has_score[~not_actual_match]

In [9]:
df_has_score.to_csv('matches_sw_district_have_scores.csv')

## Split score totals

In [ ]:
df_score_split = df_has_score.copy()
df_score_split['Total'] = df_score_split['Total'].str.split(',')
df_score_split = df_score_split.explode('Total').reset_index(drop=True)
df_score_split['Name'] = df_score_split['Total'].str[:-5]
df_score_split['Score'] = df_score_split['Total'].str[-4:]

In [15]:
df_score_split.to_csv('matches_sw_district_have_scores_split.csv')

## Download baker games

In [201]:
baker_games = []
for ind in df_matches_totals.sample(frac=1).index:
    page = requests.get(f'{df_matches_totals.domain[ind]}bwMatchStats.aspx?matchid={df_matches_totals.match_id[ind]}', headers=headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    ths = soup.find_all('th', string='BAKER GAMES')
    for i in range(len(ths)):
        games_list = []
        school_th = ths[i].findPrevious('thead').findNext('th').text
        for j in range(6):
            games_list.append(ths[i].parent.findNext('td').find_next_siblings()[j].text)
        baker_row = (df_matches_totals.domain[ind], df_matches_totals.match_id[ind], school_th, games_list)
        baker_games.append(baker_row)
        time.sleep(.25)

In [202]:
df_baker_games = pd.DataFrame(baker_games, columns=['domain', 'match_id', 'school', 'games'])
df_baker_games.to_csv('baker_games.csv')
df_baker_games

,domain,match_id,school,games
0,https://eccsports.com/,160342,Loveland,"[90, 107, , , , ]"
1,https://eccsports.com/,160342,Winton Woods,"[92, 76, , , , ]"
2,https://gmcsports.com/,24731,Lakota West,"[240, 194, , , , ]"
3,http://sbaac.com/,238189,Felicity-Franklin,"[0, 0, 121, 119, 125, 111]"
4,https://gmcsports.com/,22173,Princeton,"[181, 160, 203, 167, , ]"
...,...,...,...,...
14281,https://eccsports.com/,115787,Loveland,"[92, 110, 122, 122, , ]"
14282,http://ggcl.gclsports.com/,147465,Mount Notre Dame,"[132, 126, 128, 128, , ]"
14283,http://ggcl.gclsports.com/,147465,Mercy McAuley,"[190, 220, 160, 174, , ]"
14284,https://gmcsports.com/,66863,Oak Hills,"[169, 213, 202, 169, , ]"
14285,https://gmcsports.com/,66863,Middletown,"[162, 171, 191, 216, , ]"

# Download List of Schools

In [18]:
schools_rows_list = []
for domain in domains[:]:
    for gender in [girls, boys]:
        for year in range(2007, 2023):
            page = requests.get(
                f'{domain}confstandings.aspx?sat={gender[0]}&cmp=1&year={year}')
            soup = BeautifulSoup(page.content, 'html.parser')
            school_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in school_links:

                school_name = link.contents

                schools_rows_list.append(school_name)
            time.sleep(10)

In [19]:
df_official_names = pd.DataFrame(schools_rows_list, columns=['Name'])
df_official_names = df_official_names.drop_duplicates().reset_index(drop=True)

In [20]:
df_official_names.to_csv('official_names.csv')

# Download Player Stats

In [4]:
school_ids = []
schools_rows_list = []

for year in range(2007, 2023):
    for gender in [girls, boys]:
        for domain in domains[:]:
            page = requests.get(
                f'{domain}bwstatistics.aspx?satc={gender[2]}&year={year}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            stats_links = soup.select('a[href*=teamStats]')
            for link in stats_links:
                href = link['href']
                matches = re.findall(r'id=(.*)', href)
                school_ids.append(matches[0])
                id = int(matches[0])
                row = [id, domain]
                schools_rows_list.append(row)

In [5]:
schools_rows_list.sort()
unique_schools = list(k for k, _ in itertools.groupby(schools_rows_list))
df_unique_schools = pd.DataFrame(
    unique_schools, columns=['SchoolID', 'Domain'])
unique_schools

[[1, 'https://gmcsports.com/'],
 [2, 'https://gmcsports.com/'],
 [3, 'https://gmcsports.com/'],
 [4, 'https://gmcsports.com/'],
 [5, 'https://gmcsports.com/'],
 [6, 'https://gmcsports.com/'],
 [7, 'https://eccsports.com/'],
 [8, 'https://gmcsports.com/'],
 [9, 'https://gmcsports.com/'],
 [10, 'https://gmcsports.com/'],
 [11, 'http://ggcl.gclsports.com/'],
 [12, 'http://ggcl.gclsports.com/'],
 [13, 'http://ggcl.gclsports.com/'],
 [16, 'http://ggcl.gclsports.com/'],
 [18, 'http://ggcl.gclsports.com/'],
 [19, 'http://ggcl.gclsports.com/'],
 [22, 'https://eccsports.com/'],
 [23, 'https://eccsports.com/'],
 [24, 'http://sbaac.com/'],
 [25, 'http://www.swocsports.com/'],
 [26, 'https://eccsports.com/'],
 [27, 'http://www.swocsports.com/'],
 [27, 'https://eccsports.com/'],
 [28, 'https://eccsports.com/'],
 [29, 'https://gmcsports.com/'],
 [31, 'http://www.swocsports.com/'],
 [32, 'http://www.swocsports.com/'],
 [33, 'https://eccsports.com/'],
 [34, 'https://eccsports.com/'],
 [35, 'http://sbaac.com/'],
 [35, 'http://www.swocsports.com/'],
 [36, 'https://eccsports.com/'],
 [44, 'http://sbaac.com/'],
 [45, 'http://sbaac.com/'],
 [46, 'http://sbaac.com/'],
 [47, 'https://eccsports.com/'],
 [51, 'http://www.swblsports.com/'],
 [68, 'http://ggcl.gclsports.com/'],
 [69, 'http://ggcl.gclsports.com/'],
 [70, 'http://www.swocsports.com/'],
 [71, 'http://www.swocsports.com/'],
 [72, 'http://www.swocsports.com/'],
 [81, 'http://ggcl.gclsports.com/'],
 [82, 'http://ggcl.gclsports.com/'],
 [83, 'http://ggcl.gclsports.com/'],
 [84, 'http://ggcl.gclsports.com/'],
 [85, 'http://ggcl.gclsports.com/'],
 [86, 'http://ggcl.gclsports.com/'],
 [97, 'http://sbaac.com/'],
 [98, 'http://sbaac.com/'],
 [99, 'http://sbaac.com/'],
 [101, 'http://sbaac.com/'],
 [102, 'http://sbaac.com/'],
 [103, 'http://sbaac.com/'],
 [104, 'http://sbaac.com/'],
 [105, 'http://sbaac.com/'],
 [118, 'https://eccsports.com/'],
 [185, 'http://www.swblsports.com/'],
 [187, 'http://www.swblsports.com/'],
 [226, 'http://www.swblsports.com/'],
 [1121, 'http://www.swblsports.com/'],
 [1122, 'http://www.swblsports.com/'],
 [1123, 'http://www.swblsports.com/'],
 [1124, 'http://www.swblsports.com/'],
 [1125, 'http://www.swblsports.com/'],
 [1126, 'http://www.swblsports.com/'],
 [1198, 'https://eccsports.com/'],
 [1215, 'http://ggcl.gclsports.com/']]

In [6]:

df_unique_schools.to_csv('school_ids.csv')

In [7]:
players_rows_list = []
random.shuffle(unique_schools)
for year in range(2007, 2023):
    for gender in [girls, boys]:
        for school_id, domain in unique_schools[:]:
            page = requests.get(
                f'{domain}teamStats.aspx?sat={gender[0]}&cmp=1&year={year}&schoolid={school_id}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            player_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in player_links:
                href = link['href']
                matches = re.findall(r'player=(.*)', href)

                # Add to list of Match IDs with totals from table
                id = int(matches[0])

                row = [id, domain, ]
                players_rows_list.append(row)
            time.sleep(.25)
players_rows_list
df_player_ids = pd.DataFrame(players_rows_list, columns=[
                             'player_id', 'domain', ])

[[57953, 'http://ggcl.gclsports.com/'],
 [57949, 'http://ggcl.gclsports.com/'],
 [57948, 'http://ggcl.gclsports.com/'],
 [57950, 'http://ggcl.gclsports.com/'],
 [57954, 'http://ggcl.gclsports.com/'],
 [57951, 'http://ggcl.gclsports.com/'],
 [57955, 'http://ggcl.gclsports.com/'],
 [57952, 'http://ggcl.gclsports.com/'],
 [58307, 'http://ggcl.gclsports.com/'],
 [58308, 'http://ggcl.gclsports.com/'],
 [58309, 'http://ggcl.gclsports.com/'],
 [58310, 'http://ggcl.gclsports.com/'],
 [64552, 'http://ggcl.gclsports.com/'],
 [58311, 'http://ggcl.gclsports.com/'],
 [58312, 'http://ggcl.gclsports.com/'],
 [58313, 'http://ggcl.gclsports.com/'],
 [58314, 'http://ggcl.gclsports.com/'],
 [57914, 'http://ggcl.gclsports.com/'],
 [57915, 'http://ggcl.gclsports.com/'],
 [57916, 'http://ggcl.gclsports.com/'],
 [57917, 'http://ggcl.gclsports.com/'],
 [57918, 'http://ggcl.gclsports.com/'],
 [62204, 'http://ggcl.gclsports.com/'],
 [57919, 'http://ggcl.gclsports.com/'],
 [63577, 'http://ggcl.gclsports.com/'],
 [59525, 'http://ggcl.gclsports.com/'],
 [57044, 'https://gmcsports.com/'],
 [57047, 'https://gmcsports.com/'],
 [57048, 'https://gmcsports.com/'],
 [57045, 'https://gmcsports.com/'],
 [57049, 'https://gmcsports.com/'],
 [57051, 'https://gmcsports.com/'],
 [59309, 'https://gmcsports.com/'],
 [57052, 'https://gmcsports.com/'],
 [58078, 'http://ggcl.gclsports.com/'],
 [58076, 'http://ggcl.gclsports.com/'],
 [58074, 'http://ggcl.gclsports.com/'],
 [58075, 'http://ggcl.gclsports.com/'],
 [58079, 'http://ggcl.gclsports.com/'],
 [58077, 'http://ggcl.gclsports.com/'],
 [57887, 'http://ggcl.gclsports.com/'],
 [57888, 'http://ggcl.gclsports.com/'],
 [57889, 'http://ggcl.gclsports.com/'],
 [57890, 'http://ggcl.gclsports.com/'],
 [60713, 'http://ggcl.gclsports.com/'],
 [64507, 'http://ggcl.gclsports.com/'],
 [60714, 'http://ggcl.gclsports.com/'],
 [57891, 'http://ggcl.gclsports.com/'],
 [64467, 'http://ggcl.gclsports.com/'],
 [57893, 'http://ggcl.gclsports.com/'],
 [57892, 'http://ggcl.gclsports.com/'],
 [57311, 'http://ggcl.gclsports.com/'],
 [57313, 'http://ggcl.gclsports.com/'],
 [57307, 'http://ggcl.gclsports.com/'],
 [57306, 'http://ggcl.gclsports.com/'],
 [57309, 'http://ggcl.gclsports.com/'],
 [57308, 'http://ggcl.gclsports.com/'],
 [57315, 'http://ggcl.gclsports.com/'],
 [57310, 'http://ggcl.gclsports.com/'],
 [57314, 'http://ggcl.gclsports.com/'],
 [57102, 'https://gmcsports.com/'],
 [57101, 'https://gmcsports.com/'],
 [57100, 'https://gmcsports.com/'],
 [57099, 'https://gmcsports.com/'],
 [57098, 'https://gmcsports.com/'],
 [57097, 'https://gmcsports.com/'],
 [64392, 'https://gmcsports.com/'],
 [58807, 'https://gmcsports.com/'],
 [58805, 'https://gmcsports.com/'],
 [58809, 'https://gmcsports.com/'],
 [58814, 'https://gmcsports.com/'],
 [58821, 'https://gmcsports.com/'],
 [58819, 'https://gmcsports.com/'],
 [57170, 'http://ggcl.gclsports.com/'],
 [57171, 'http://ggcl.gclsports.com/'],
 [57172, 'http://ggcl.gclsports.com/'],
 [57173, 'http://ggcl.gclsports.com/'],
 [57174, 'http://ggcl.gclsports.com/'],
 [57177, 'http://ggcl.gclsports.com/'],
 [57175, 'http://ggcl.gclsports.com/'],
 [57176, 'http://ggcl.gclsports.com/'],
 [58012, 'http://ggcl.gclsports.com/'],
 [58013, 'http://ggcl.gclsports.com/'],
 [58014, 'http://ggcl.gclsports.com/'],
 [58016, 'http://ggcl.gclsports.com/'],
 [58017, 'http://ggcl.gclsports.com/'],
 [58018, 'http://ggcl.gclsports.com/'],
 [58019, 'http://ggcl.gclsports.com/'],
 [58020, 'http://ggcl.gclsports.com/'],
 [58021, 'http://ggcl.gclsports.com/'],
 [58022, 'http://ggcl.gclsports.com/'],
 [58023, 'http://ggcl.gclsports.com/'],
 [58024, 'http://ggcl.gclsports.com/'],
 [59287, 'http://ggcl.gclsports.com/'],
 [59289, 'http://ggcl.gclsports.com/'],
 [59024, 'http://ggcl.gclsports.com/'],
 [59023, 'http://ggcl.gclsports.com/'],
 [59026, 'http://ggcl.gclsports.com/'],
 [59286, 'http://ggcl.gclsports.com/'],
 [59022, 'http://ggcl.gclsports.com/'],
 [59025, 'http://ggcl.gclsports.com/'],
 [59288, 'http://ggcl.gclsports.com/'],
 [59285, 'http://ggcl.gclsports.com/'],
 [58329, 'http://ggcl.gclsports.com/'],
 [58328, 'http://ggcl.gclsports.com/'],
 [58330, 'http://ggcl.gclsports.com/'],
 [58326, 'http://ggcl.gclsports.com/'],
 [58327, 'http://ggcl.gclsports.com/'],
 [58324, 'http://ggcl.gclsports.com/'],
 [58325, 'http://ggcl.gclsports.com/'],
 [59283, 'https://gmcsports.com/'],
 [64375, 'https://gmcsports.com/'],
 [59278, 'https://gmcsports.com/'],
 [59279, 'https://gmcsports.com/'],
 [59280, 'https://gmcsports.com/'],
 [59726, 'https://gmcsports.com/'],
 [59281, 'https://gmcsports.com/'],
 [59282, 'https://gmcsports.com/'],
 [56096, 'https://gmcsports.com/'],
 [57745, 'https://gmcsports.com/'],
 [56095, 'https://gmcsports.com/'],
 [56093, 'https://gmcsports.com/'],
 [56097, 'https://gmcsports.com/'],
 [57746, 'https://gmcsports.com/'],
 [56094, 'https://gmcsports.com/'],
 [57151, 'https://gmcsports.com/'],
 [57158, 'https://gmcsports.com/'],
 [57157, 'https://gmcsports.com/'],
 [57159, 'https://gmcsports.com/'],
 [57145, 'https://gmcsports.com/'],
 [57154, 'https://gmcsports.com/'],
 [57147, 'https://gmcsports.com/'],
 [57160, 'https://gmcsports.com/'],
 [57156, 'https://gmcsports.com/'],
 [57146, 'https://gmcsports.com/'],
 [57148, 'https://gmcsports.com/'],
 [57150, 'https://gmcsports.com/'],
 [57155, 'https://gmcsports.com/'],
 [56968, 'http://ggcl.gclsports.com/'],
 [56969, 'http://ggcl.gclsports.com/'],
 [56976, 'http://ggcl.gclsports.com/'],
 [56980, 'http://ggcl.gclsports.com/'],
 [56981, 'http://ggcl.gclsports.com/'],
 [56967, 'http://ggcl.gclsports.com/'],
 [56979, 'http://ggcl.gclsports.com/'],
 [56982, 'http://ggcl.gclsports.com/'],
 [56983, 'http://ggcl.gclsports.com/'],
 [60547, 'https://gmcsports.com/'],
 [60548, 'https://gmcsports.com/'],
 [60549, 'https://gmcsports.com/'],
 [60550, 'https://gmcsports.com/'],
 [60551, 'https://gmcsports.com/'],
 [60564, 'https://gmcsports.com/'],
 [60565, 'https://gmcsports.com/'],
 [64104, 'https://gmcsports.com/'],
 [59140, 'https://gmcsports.com/'],
 [59147, 'https://gmcsports.com/'],
 [59141, 'https://gmcsports.com/'],
 [59145, 'https://gmcsports.com/'],
 [59143, 'https://gmcsports.com/'],
 [59142, 'https://gmcsports.com/'],
 [59144, 'https://gmcsports.com/'],
 [59146, 'https://gmcsports.com/'],
 [57224, 'https://gmcsports.com/'],
 [57228, 'https://gmcsports.com/'],
 [57226, 'https://gmcsports.com/'],
 [57227, 'https://gmcsports.com/'],
 [57225, 'https://gmcsports.com/'],
 [57332, 'http://ggcl.gclsports.com/'],
 [63907, 'http://ggcl.gclsports.com/'],
 [57329, 'http://ggcl.gclsports.com/'],
 [59999, 'http://ggcl.gclsports.com/'],
 [57331, 'http://ggcl.gclsports.com/'],
 [57330, 'http://ggcl.gclsports.com/'],
 [57328, 'http://ggcl.gclsports.com/'],
 [57931, 'http://ggcl.gclsports.com/'],
 [57935, 'http://ggcl.gclsports.com/'],
 [57938, 'http://ggcl.gclsports.com/'],
 [57936, 'http://ggcl.gclsports.com/'],
 [57937, 'http://ggcl.gclsports.com/'],
 [63573, 'http://ggcl.gclsports.com/'],
 [57934, 'http://ggcl.gclsports.com/'],
 [57932, 'http://ggcl.gclsports.com/'],
 [61114, 'http://ggcl.gclsports.com/'],
 [57933, 'http://ggcl.gclsports.com/'],
 [60715, 'http://ggcl.gclsports.com/'],
 [57939, 'http://ggcl.gclsports.com/'],
 [63664, 'http://ggcl.gclsports.com/'],
 [57335, 'http://ggcl.gclsports.com/'],
 [57336, 'http://ggcl.gclsports.com/'],
 [64538, 'http://ggcl.gclsports.com/'],
 [57898, 'http://ggcl.gclsports.com/'],
 [57894, 'http://ggcl.gclsports.com/'],
 [57895, 'http://ggcl.gclsports.com/'],
 [57897, 'http://ggcl.gclsports.com/'],
 [63569, 'http://ggcl.gclsports.com/'],
 [57899, 'http://ggcl.gclsports.com/'],
 [57896, 'http://ggcl.gclsports.com/'],
 [57990, 'https://gmcsports.com/'],
 [64374, 'https://gmcsports.com/'],
 [57988, 'https://gmcsports.com/'],
 [57992, 'https://gmcsports.com/'],
 [57987, 'https://gmcsports.com/'],
 [57993, 'https://gmcsports.com/'],
 [57994, 'https://gmcsports.com/'],
 [57986, 'https://gmcsports.com/'],
 [57991, 'https://gmcsports.com/'],
 [57989, 'https://gmcsports.com/'],
 [57468, 'https://gmcsports.com/'],
 [59948, 'https://gmcsports.com/'],
 [57471, 'https://gmcsports.com/'],
 [57469, 'https://gmcsports.com/'],
 [57470, 'https://gmcsports.com/'],
 [64342, 'https://gmcsports.com/'],
 [57467, 'https://gmcsports.com/'],
 [57472, 'https://gmcsports.com/'],
 [57473, 'https://gmcsports.com/'],
 [57496, 'https://gmcsports.com/'],
 [57501, 'https://gmcsports.com/'],
 [57493, 'https://gmcsports.com/'],
 [57495, 'https://gmcsports.com/'],
 [57500, 'https://gmcsports.com/'],
 [57497, 'https://gmcsports.com/'],
 [57499, 'https://gmcsports.com/'],
 [57498, 'https://gmcsports.com/'],
 [58432, 'https://gmcsports.com/'],
 [59492, 'https://gmcsports.com/'],
 [59496, 'https://gmcsports.com/'],
 [64391, 'https://gmcsports.com/'],
 [64390, 'https://gmcsports.com/'],
 [58433, 'https://gmcsports.com/'],
 [58431, 'https://gmcsports.com/'],
 [59494, 'https://gmcsports.com/'],
 [59495, 'https://gmcsports.com/'],
 [59724, 'https://gmcsports.com/'],
 [59272, 'https://gmcsports.com/'],
 [64373, 'https://gmcsports.com/'],
 [59275, 'https://gmcsports.com/'],
 [59274, 'https://gmcsports.com/'],
 [59277, 'https://gmcsports.com/'],
 [62056, 'https://gmcsports.com/'],
 [59273, 'https://gmcsports.com/'],
 [59276, 'https://gmcsports.com/'],
 [62058, 'https://gmcsports.com/'],
 [56083, 'https://gmcsports.com/'],
 [56084, 'https://gmcsports.com/'],
 [56085, 'https://gmcsports.com/'],
 [56086, 'https://gmcsports.com/'],
 [56087, 'https://gmcsports.com/'],
 [56089, 'https://gmcsports.com/'],
 [56090, 'https://gmcsports.com/'],
 [56091, 'https://gmcsports.com/'],
 [56092, 'https://gmcsports.com/'],
 [57131, 'https://gmcsports.com/'],
 [57134, 'https://gmcsports.com/'],
 [57130, 'https://gmcsports.com/'],
 [57135, 'https://gmcsports.com/'],
 [57132, 'https://gmcsports.com/'],
 [57138, 'https://gmcsports.com/'],
 [57133, 'https://gmcsports.com/'],
 [57141, 'https://gmcsports.com/'],
 [57136, 'https://gmcsports.com/'],
 [57143, 'https://gmcsports.com/'],
 [57140, 'https://gmcsports.com/'],
 [60544, 'https://gmcsports.com/'],
 [60540, 'https://gmcsports.com/'],
 [60539, 'https://gmcsports.com/'],
 [60543, 'https://gmcsports.com/'],
 [60541, 'https://gmcsports.com/'],
 [60538, 'https://gmcsports.com/'],
 [60545, 'https://gmcsports.com/'],
 [57748, 'https://gmcsports.com/'],
 [59940, 'https://gmcsports.com/'],
 [57753, 'https://gmcsports.com/'],
 [57751, 'https://gmcsports.com/'],
 [59941, 'https://gmcsports.com/'],
 [57747, 'https://gmcsports.com/'],
 [57749, 'https://gmcsports.com/'],
 [57754, 'https://gmcsports.com/'],
 [57744, 'https://gmcsports.com/'],
 [57738, 'https://gmcsports.com/'],
 [57742, 'https://gmcsports.com/'],
 [64372, 'https://gmcsports.com/'],
 [57739, 'https://gmcsports.com/'],
 [57741, 'https://gmcsports.com/'],
 [57743, 'https://gmcsports.com/'],
 [58972, 'https://gmcsports.com/'],
 [58973, 'https://gmcsports.com/'],
 [58974, 'https://gmcsports.com/'],
 [62326, 'https://gmcsports.com/'],
 [58979, 'https://gmcsports.com/'],
 [58976, 'https://gmcsports.com/'],
 [58978, 'https://gmcsports.com/'],
 [58975, 'https://gmcsports.com/'],
 [58977, 'https://gmcsports.com/'],
 [96337, 'http://ggcl.gclsports.com/'],
 [93592, 'http://ggcl.gclsports.com/'],
 [93588, 'http://ggcl.gclsports.com/'],
 [99040, 'http://ggcl.gclsports.com/'],
 [93587, 'http://ggcl.gclsports.com/'],
 [99039, 'http://ggcl.gclsports.com/'],
 [93590, 'http://ggcl.gclsports.com/'],
 [93594, 'http://ggcl.gclsports.com/'],
 [93591, 'http://ggcl.gclsports.com/'],
 [94177, 'http://ggcl.gclsports.com/'],
 [94178, 'http://ggcl.gclsports.com/'],
 [94179, 'http://ggcl.gclsports.com/'],
 [94180, 'http://ggcl.gclsports.com/'],
 [93572, 'http://ggcl.gclsports.com/'],
 [94182, 'http://ggcl.gclsports.com/'],
 [94183, 'http://ggcl.gclsports.com/'],
 [93577, 'http://ggcl.gclsports.com/'],
 [93578, 'http://ggcl.gclsports.com/'],
 [93579, 'http://ggcl.gclsports.com/'],
 [99532, 'http://ggcl.gclsports.com/'],
 [93581, 'http://ggcl.gclsports.com/'],
 [99196, 'http://ggcl.gclsports.com/'],
 [93582, 'http://ggcl.gclsports.com/'],
 [93580, 'http://ggcl.gclsports.com/'],
 [94082, 'https://gmcsports.com/'],
 [94083, 'https://gmcsports.com/'],
 [97238, 'https://gmcsports.com/'],
 [94084, 'https://gmcsports.com/'],
 [97239, 'https://gmcsports.com/'],
 [94087, 'https://gmcsports.com/'],
 [97797, 'https://gmcsports.com/'],
 [94085, 'https://gmcsports.com/'],
 [94088, 'https://gmcsports.com/'],
 [98812, 'https://gmcsports.com/'],
 [94086, 'https://gmcsports.com/'],
 [93548, 'http://ggcl.gclsports.com/'],
 [93546, 'http://ggcl.gclsports.com/'],
 [93547, 'http://ggcl.gclsports.com/'],
 [96371, 'http://ggcl.gclsports.com/'],
 [96372, 'http://ggcl.gclsports.com/'],
 [93550, 'http://ggcl.gclsports.com/'],
 [93549, 'http://ggcl.gclsports.com/'],
 [96373, 'http://ggcl.gclsports.com/'],
 [96370, 'http://ggcl.gclsports.com/'],
 [94434, 'http://ggcl.gclsports.com/'],
 [93534, 'http://ggcl.gclsports.com/'],
 [93535, 'http://ggcl.gclsports.com/'],
 [93538, 'http://ggcl.gclsports.com/'],
 [93539, 'http://ggcl.gclsports.com/'],
 [93536, 'http://ggcl.gclsports.com/'],
 [93540, 'http://ggcl.gclsports.com/'],
 [93537, 'http://ggcl.gclsports.com/'],
 [93395, 'http://ggcl.gclsports.com/'],
 [93386, 'http://ggcl.gclsports.com/'],
 [93382, 'http://ggcl.gclsports.com/'],
 [93388, 'http://ggcl.gclsports.com/'],
 [93392, 'http://ggcl.gclsports.com/'],
 [93393, 'http://ggcl.gclsports.com/'],
 [93387, 'http://ggcl.gclsports.com/'],
 [93394, 'http://ggcl.gclsports.com/'],
 [95446, 'https://gmcsports.com/'],
 [95450, 'https://gmcsports.com/'],
 [95449, 'https://gmcsports.com/'],
 [95445, 'https://gmcsports.com/'],
 [95443, 'https://gmcsports.com/'],
 [95448, 'https://gmcsports.com/'],
 [95444, 'https://gmcsports.com/'],
 [96655, 'https://gmcsports.com/'],
 [96650, 'https://gmcsports.com/'],
 [96651, 'https://gmcsports.com/'],
 [96652, 'https://gmcsports.com/'],
 [96654, 'https://gmcsports.com/'],
 [96653, 'https://gmcsports.com/'],
 [96656, 'https://gmcsports.com/'],
 [93541, 'http://ggcl.gclsports.com/'],
 [93542, 'http://ggcl.gclsports.com/'],
 [96381, 'http://ggcl.gclsports.com/'],
 [93544, 'http://ggcl.gclsports.com/'],
 [96383, 'http://ggcl.gclsports.com/'],
 [96382, 'http://ggcl.gclsports.com/'],
 [93545, 'http://ggcl.gclsports.com/'],
 [93556, 'http://ggcl.gclsports.com/'],
 [93557, 'http://ggcl.gclsports.com/'],
 [95241, 'http://ggcl.gclsports.com/'],
 [93558, 'http://ggcl.gclsports.com/'],
 [96374, 'http://ggcl.gclsports.com/'],
 [96391, 'http://ggcl.gclsports.com/'],
 [95240, 'http://ggcl.gclsports.com/'],
 [98125, 'http://ggcl.gclsports.com/'],
 [93559, 'http://ggcl.gclsports.com/'],
 [93533, 'http://ggcl.gclsports.com/'],
 [93528, 'http://ggcl.gclsports.com/'],
 [93530, 'http://ggcl.gclsports.com/'],
 [97352, 'http://ggcl.gclsports.com/'],
 [97348, 'http://ggcl.gclsports.com/'],
 [97353, 'http://ggcl.gclsports.com/'],
 [93527, 'http://ggcl.gclsports.com/'],
 [93532, 'http://ggcl.gclsports.com/'],
 [93529, 'http://ggcl.gclsports.com/'],
 [94436, 'http://ggcl.gclsports.com/'],
 [93575, 'http://ggcl.gclsports.com/'],
 [93576, 'http://ggcl.gclsports.com/'],
 [93573, 'http://ggcl.gclsports.com/'],
 [93574, 'http://ggcl.gclsports.com/'],
 [94437, 'http://ggcl.gclsports.com/'],
 [99174, 'http://ggcl.gclsports.com/'],
 [101533, 'https://gmcsports.com/'],
 [95332, 'https://gmcsports.com/'],
 [95336, 'https://gmcsports.com/'],
 [95327, 'https://gmcsports.com/'],
 [95337, 'https://gmcsports.com/'],
 [99331, 'https://gmcsports.com/'],
 [95328, 'https://gmcsports.com/'],
 [95335, 'https://gmcsports.com/'],
 [95334, 'https://gmcsports.com/'],
 [95329, 'https://gmcsports.com/'],
 [95333, 'https://gmcsports.com/'],
 [99067, 'https://gmcsports.com/'],
 [93118, 'https://gmcsports.com/'],
 [93120, 'https://gmcsports.com/'],
 [92934, 'https://gmcsports.com/'],
 [92935, 'https://gmcsports.com/'],
 [97276, 'https://gmcsports.com/'],
 [93117, 'https://gmcsports.com/'],
 [93119, 'https://gmcsports.com/'],
 [96482, 'https://gmcsports.com/'],
 [96487, 'https://gmcsports.com/'],
 [96484, 'https://gmcsports.com/'],
 [96480, 'https://gmcsports.com/'],
 [96485, 'https://gmcsports.com/'],
 [96483, 'https://gmcsports.com/'],
 [96490, 'https://gmcsports.com/'],
 [96481, 'https://gmcsports.com/'],
 [96489, 'https://gmcsports.com/'],
 [96488, 'https://gmcsports.com/'],
 [95965, 'http://ggcl.gclsports.com/'],
 [93583, 'http://ggcl.gclsports.com/'],
 [95961, 'http://ggcl.gclsports.com/'],
 [93585, 'http://ggcl.gclsports.com/'],
 [95963, 'http://ggcl.gclsports.com/'],
 [95964, 'http://ggcl.gclsports.com/'],
 [101917, 'http://ggcl.gclsports.com/'],
 [95966, 'http://ggcl.gclsports.com/'],
 [101673, 'http://ggcl.gclsports.com/'],
 [95962, 'http://ggcl.gclsports.com/'],
 [94871, 'https://gmcsports.com/'],
 [94874, 'https://gmcsports.com/'],
 [94875, 'https://gmcsports.com/'],
 [101144, 'https://gmcsports.com/'],
 [94872, 'https://gmcsports.com/'],
 [94876, 'https://gmcsports.com/'],
 [94877, 'https://gmcsports.com/'],
 [95190, 'https://gmcsports.com/'],
 [95186, 'https://gmcsports.com/'],
 [95189, 'https://gmcsports.com/'],
 [101732, 'https://gmcsports.com/'],
 [95187, 'https://gmcsports.com/'],
 [95188, 'https://gmcsports.com/'],
 [95184, 'https://gmcsports.com/'],
 [95185, 'https://gmcsports.com/'],
 [94092, 'https://gmcsports.com/'],
 [94093, 'https://gmcsports.com/'],
 [94094, 'https://gmcsports.com/'],
 [94091, 'https://gmcsports.com/'],
 [94089, 'https://gmcsports.com/'],
 [94090, 'https://gmcsports.com/'],
 [94074, 'http://ggcl.gclsports.com/'],
 [93553, 'http://ggcl.gclsports.com/'],
 [101245, 'http://ggcl.gclsports.com/'],
 [93555, 'http://ggcl.gclsports.com/'],
 [93554, 'http://ggcl.gclsports.com/'],
 [93552, 'http://ggcl.gclsports.com/'],
 [101669, 'http://ggcl.gclsports.com/'],
 [93551, 'http://ggcl.gclsports.com/'],
 [101677, 'http://ggcl.gclsports.com/'],
 [94075, 'http://ggcl.gclsports.com/'],
 [93560, 'http://ggcl.gclsports.com/'],
 [96344, 'http://ggcl.gclsports.com/'],
 [93564, 'http://ggcl.gclsports.com/'],
 [93563, 'http://ggcl.gclsports.com/'],
 [95097, 'http://ggcl.gclsports.com/'],
 [93562, 'http://ggcl.gclsports.com/'],
 [93561, 'http://ggcl.gclsports.com/'],
 [101678, 'http://ggcl.gclsports.com/'],
 [93565, 'http://ggcl.gclsports.com/'],
 [100706, 'http://ggcl.gclsports.com/'],
 [93570, 'http://ggcl.gclsports.com/'],
 [93566, 'http://ggcl.gclsports.com/'],
 [98656, 'http://ggcl.gclsports.com/'],
 [93567, 'http://ggcl.gclsports.com/'],
 [93569, 'http://ggcl.gclsports.com/'],
 [93571, 'http://ggcl.gclsports.com/'],
 [93568, 'http://ggcl.gclsports.com/'],
 [99065, 'https://gmcsports.com/'],
 [95674, 'https://gmcsports.com/'],
 [95671, 'https://gmcsports.com/'],
 [95672, 'https://gmcsports.com/'],
 [95675, 'https://gmcsports.com/'],
 [95673, 'https://gmcsports.com/'],
 [95668, 'https://gmcsports.com/'],
 [95670, 'https://gmcsports.com/'],
 [95669, 'https://gmcsports.com/'],
 [101882, 'https://gmcsports.com/'],
 [95681, 'https://gmcsports.com/'],
 [95678, 'https://gmcsports.com/'],
 [95682, 'https://gmcsports.com/'],
 [95679, 'https://gmcsports.com/'],
 [95306, 'https://gmcsports.com/'],
 [95304, 'https://gmcsports.com/'],
 [95305, 'https://gmcsports.com/'],
 [95311, 'https://gmcsports.com/'],
 [101650, 'https://gmcsports.com/'],
 [95309, 'https://gmcsports.com/'],
 [95308, 'https://gmcsports.com/'],
 [95307, 'https://gmcsports.com/'],
 [96643, 'https://gmcsports.com/'],
 [98439, 'https://gmcsports.com/'],
 [96613, 'https://gmcsports.com/'],
 [96615, 'https://gmcsports.com/'],
 [96618, 'https://gmcsports.com/'],
 [96619, 'https://gmcsports.com/'],
 [96614, 'https://gmcsports.com/'],
 [96644, 'https://gmcsports.com/'],
 [96616, 'https://gmcsports.com/'],
 [95321, 'https://gmcsports.com/'],
 [101211, 'https://gmcsports.com/'],
 [95317, 'https://gmcsports.com/'],
 [95325, 'https://gmcsports.com/'],
 [95320, 'https://gmcsports.com/'],
 [95319, 'https://gmcsports.com/'],
 [95318, 'https://gmcsports.com/'],
 [95324, 'https://gmcsports.com/'],

In [8]:
df_player_ids.to_csv('player_ids.csv')

In [9]:
gamestats = []
random.shuffle(players_rows_list)
for p_id, dom in players_rows_list:
    page = requests.get(f'{dom}playerStats.aspx?player={p_id}', headers=headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    title = soup.find('title').string
    schoolH1 = soup.select('h1')
    player_name = soup.select('h2')[0].contents[0].text
    try:
        grade_lvl = soup.select('span[id*=GradeVal]')[0].contents[0].text
    except:
        grade_lvl = ''
    match_list = soup.select('a[id*=GamesRepeat]')
    # soup.select('a[id*=ContentPlaceHolder1]')
    schname = schoolH1[0].contents[0].text
    genname = schoolH1[0].contents[2].text
    if title == 'Girls Greater Catholic League':
        ind = 0
        genname = 'Girls'
    else:
        ind = 1
    schgen = [re.findall(pattern='(\w+.*)', string=schname)
              [0], re.findall(pattern='(\w+)', string=genname)[ind]]
    for i in range(len(match_list)):
        href = match_list[i]['href']
        match_id = re.findall(r'ID=(.*)', href)
        pins = match_list[i].find_previous().find_previous_siblings()[3].text
        location = match_list[i].find_previous().find_previous_siblings()[
            5].text
        opponent = match_list[i].find_previous().find_previous_siblings()[
            6].text
        row = [player_name, p_id, schgen[1], grade_lvl,
               schgen[0], match_id[0], location, opponent, pins, ]
        gamestats.append(row)
    time.sleep(.25)

In [135]:
df_gamestats = pd.DataFrame(gamestats, columns=[
                            'player_name', 'player_id', 'gender', 'grade_level', 'school', 'match_id', 'location', 'opponent', 'pins'])
# Count number of games in match
df_gamestats['num'] = df_gamestats['pins'].str.count(',') + 1
df_gamestats

,player_name,player_id,gender,grade_level,school,match_id,location,opponent,pins,num
0,Chuck Hammond,92929,Boys,Senior,Mason,31538,Eastern,Middletown,"213, 211",2
1,Chuck Hammond,92929,Boys,Senior,Mason,31539,Columbia,Hamilton,"232, 254",2
2,Chuck Hammond,92929,Boys,Senior,Mason,31540,Columbus,Kick-off,"212, 149, 164",3
3,Chuck Hammond,92929,Boys,Senior,Mason,31541,mason,Fairfield,"223, 211",2
4,Chuck Hammond,92929,Boys,Senior,Mason,31542,Western,Holiday Classic,"211, 233, 220",3
...,...,...,...,...,...,...,...,...,...,...
89528,Kayla Mineer,448590,Girls,Junior,Anderson,115866,Cherry Grove Lanes,West Clermont,"168, 135",2
89529,Kayla Mineer,448590,Girls,Junior,Anderson,115868,Cherry Grove Lanes,West Clermont,"124, 146",2
89530,Kayla Mineer,448590,Girls,Junior,Anderson,115874,Cherry Grove Lanes,Turpin,"112, 156",2
89531,Kayla Mineer,448590,Girls,Junior,Anderson,115877,Cherry Grove Lanes,Turpin,"125, 143",2
89532,Kayla Mineer,448590,Girls,Junior,Anderson,119802,Colerain,Sectionals,"139, 125, 130",3

In [34]:
df_gamestats.to_csv('gamestats.csv')

In [153]:
# Remove whitespace in pins column
df_gamestats['pins'] = df_gamestats['pins'].replace(' ', '', regex=True)
# Split pins to individual games and rename new columns
df_games_split = pd.DataFrame(df_gamestats['pins'].str.split(',').tolist(), )
df_games_split.rename(columns={i: "game"+str(i+1)
                      for i in range(len(df_games_split.columns))}, inplace=True)
# Convert to int and drop all-NaN rows
df_games_split = df_games_split.apply(pd.to_numeric, downcast='integer')
df_games_split.dropna(how='all', inplace=True)
# Calculate standard deviation, variance, median, mean, maximum, minimum, range, and total pinfall
df_games_split['std'] = np.std(df_games_split, axis=1).round(0)
df_games_split['var'] = np.var(df_games_split, axis=1).round(0)
df_games_split['med'] = np.nanmedian(df_games_split, axis=1).round(0)
df_games_split['avg'] = df_games_split.iloc[:, :-3].mean(axis=1).round(0)
df_games_split['max'] = df_games_split.iloc[:, :-4].max(axis=1)
df_games_split['min'] = df_games_split.iloc[:, :-5].min(axis=1)
df_games_split['rng'] = df_games_split['max'] - df_games_split['min']
df_games_split['tot'] = df_games_split.iloc[:, :-7].sum(axis=1)
# Re-convert to int
df_games_split = df_games_split.astype('Int16')
df_games_split

,game1,game2,game3,game4,game5,game6,std,var,med,avg,max,min,rng,tot
0,213,211,<NA>,<NA>,<NA>,<NA>,1,9894,212,212,213,211,2,424
1,232,254,<NA>,<NA>,<NA>,<NA>,11,12042,243,243,254,232,22,486
2,212,149,164,<NA>,<NA>,<NA>,27,4648,164,175,212,149,63,525
3,223,211,<NA>,<NA>,<NA>,<NA>,6,9918,217,217,223,211,12,434
4,211,233,220,<NA>,<NA>,<NA>,9,8515,220,221,233,211,22,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89528,168,135,<NA>,<NA>,<NA>,<NA>,16,4262,152,152,168,135,33,303
89529,124,146,<NA>,<NA>,<NA>,<NA>,11,3498,135,135,146,124,22,270
89530,112,156,<NA>,<NA>,<NA>,<NA>,22,3110,134,134,156,112,44,268
89531,125,143,<NA>,<NA>,<NA>,<NA>,9,3526,134,134,143,125,18,268
89532,139,125,130,<NA>,<NA>,<NA>,6,2970,130,131,139,125,14,394

In [154]:
df_gamestats_split = pd.concat([df_gamestats, df_games_split], axis=1)
df_gamestats_split

,player_name,player_id,gender,grade_level,school,match_id,location,opponent,pins,num,...,game5,game6,std,var,med,avg,max,min,rng,tot
0,Chuck Hammond,92929,Boys,Senior,Mason,31538,Eastern,Middletown,"213,211",2,...,<NA>,<NA>,1,9894,212,212,213,211,2,424
1,Chuck Hammond,92929,Boys,Senior,Mason,31539,Columbia,Hamilton,"232,254",2,...,<NA>,<NA>,11,12042,243,243,254,232,22,486
2,Chuck Hammond,92929,Boys,Senior,Mason,31540,Columbus,Kick-off,"212,149,164",3,...,<NA>,<NA>,27,4648,164,175,212,149,63,525
3,Chuck Hammond,92929,Boys,Senior,Mason,31541,mason,Fairfield,"223,211",2,...,<NA>,<NA>,6,9918,217,217,223,211,12,434
4,Chuck Hammond,92929,Boys,Senior,Mason,31542,Western,Holiday Classic,"211,233,220",3,...,<NA>,<NA>,9,8515,220,221,233,211,22,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89528,Kayla Mineer,448590,Girls,Junior,Anderson,115866,Cherry Grove Lanes,West Clermont,"168,135",2,...,<NA>,<NA>,16,4262,152,152,168,135,33,303
89529,Kayla Mineer,448590,Girls,Junior,Anderson,115868,Cherry Grove Lanes,West Clermont,"124,146",2,...,<NA>,<NA>,11,3498,135,135,146,124,22,270
89530,Kayla Mineer,448590,Girls,Junior,Anderson,115874,Cherry Grove Lanes,Turpin,"112,156",2,...,<NA>,<NA>,22,3110,134,134,156,112,44,268
89531,Kayla Mineer,448590,Girls,Junior,Anderson,115877,Cherry Grove Lanes,Turpin,"125,143",2,...,<NA>,<NA>,9,3526,134,134,143,125,18,268
89532,Kayla Mineer,448590,Girls,Junior,Anderson,119802,Colerain,Sectionals,"139,125,130",3,...,<NA>,<NA>,6,2970,130,131,139,125,14,394

In [155]:
df_gamestats_split.to_csv('gamestats_split.csv')

## Find school locations

Pulling locations from [OpenStreetMap](https://openstreetmap.org/copyright). Data is licensed under the [Open Data Commons Open Database License](https://opendatacommons.org/licenses/odbl/).

In [249]:
school_loc_rows = []
school_names = df_gamestats_split.school.unique()
for name in school_names:
    response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={name}+high,ohio&format=jsonv2').json()
    if len(response) >= 1:
        pass
    else:
        response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={name}+academy,ohio&format=jsonv2').json()
    # Some coordinates returned with ridiculous 15 decimal places; school locations don't need atomic-level precision, and even 5 is probably overkill
    lat = round(float(response[0]['lat']), 5)
    lon = round(float(response[0]['lon']), 5)
    display_name = response[0]['display_name']
    zip = re.search(pattern='(\d{5})', string=display_name).expand('\g<1>')
    school_loc_rows.append([name, lat, lon, display_name, zip])
    time.sleep(5)

In [250]:
df_school_locations = pd.DataFrame(school_loc_rows, columns=['name', 'latitude', 'longitude', 'display_name', 'zip'])
df_school_locations

,name,latitude,longitude,display_name,zip
0,Mason,39.35071,-84.30624,"William Mason High School, Lakeside Drive, Mas...",45040
1,Mount Notre Dame,39.22200,-84.43283,"Mount Notre Dame High School, East Benson Aven...",45215
2,Turpin,39.10551,-84.36641,"Turpin High School, Bartels Road, Anderson Tow...",45244
3,Winton Woods,39.28798,-84.52618,"Winton Woods High School, 1231, West Kemper Ro...",45240
4,Fairfield,39.33688,-84.51831,"Fairfield Senior High School, 8800, Holden Bou...",45014
5,Kings,39.35317,-84.25501,"Kings High School, McClelland Avenue, Deerfiel...",45040
6,Milford,39.17987,-84.24062,"Milford High School, Eagles Way, Miami Townshi...",45150
7,McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
8,Hamilton,39.42485,-84.58000,"Hamilton High School, Eaton Avenue, River View...",45013
9,Sycamore,39.26651,-84.34983,"Sycamore High School, Cincinnati By-Pass, Mont...",45249
10,Little Miami,39.35673,-84.15986,"Little Miami High School, US 22;SR 3, Hamilton...",45152
11,Valley View,39.65585,-84.39930,"Valley View High School, Farmersville Germanto...",45327
12,Clermont Northeastern,39.13043,-84.10194,"Clermont Northeastern High School, 5327, Newto...",45103
13,Withrow,39.14227,-84.45159,"Withrow University High School, 2488, Madison ...",45208
14,Middletown,39.52259,-84.34861,"Middletown High School, 601, North Breiel Boul...",45042
15,Walnut Hills,39.14058,-84.47954,"Walnut Hills High School, Victory Parkway, Eva...",45207
16,Oak Hills,39.14753,-84.64812,"Oak Hills High School, Ebenezer Road, Bridgeto...",45248
17,Glen Este,39.08544,-84.26341,"Glen Este High School West Building, Judy Lane...",45245
18,Felicity-Franklin,38.83702,-84.09871,"Felicityâ€“Franklin High School, 105, North Mark...",45120
19,Colerain,39.23331,-84.60244,"Colerain High School, Cheviot Road, Carrousel ...",45251
20,St. Ursula,39.12559,-84.48232,"Saint Ursula Academy, William Howard Taft Road...",45206
21,Mercy McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
22,Anderson,39.06898,-84.34776,"Anderson High School, Forest Road, Asbury, And...",45255
23,Ross,39.94489,-82.99699,"Ross, Midian & Breitmayer, 846, South High Str...",43206
24,Wilmington,39.44952,-83.83916,"Wilmington High School, Richardson Place, Wilm...",45177
25,Lakota West,39.33024,-84.43108,"Lakota West High School, West Chester Road, We...",45069
26,Western Brown,39.03407,-83.93750,"Western Brown High School, Campus Drive, Mount...",45154
27,Lakota East,39.37956,-84.36945,"Lakota East High School Campus, 6840, Lakota L...",45044
28,New Richmond,38.95342,-84.26913,"New Richmond High School, 1131, Bethel-New Ric...",45157
29,Northwest,39.27020,-84.57778,"Northwest High School, Pippin Road, Mount Heal...",45231
30,Loveland,39.28121,-84.27612,"Loveland High School, Rich Road, Chatham Woods...",45140
31,Ursuline Academy,39.24800,-84.37151,"Ursuline Academy, Twinbrook Court, Kensington ...",45242
32,East Clinton,39.41761,-83.65031,"East Clinton High School, Larrick Road, Lees C...",45169
33,West Clermont,39.07120,-84.24898,"West Clermont High School, Clough Pike, Union ...",45103
34,Blanchester,39.29882,-83.96941,"Blanchester High School, Cherry Street, Blanch...",45148
35,Monroe,39.98169,-84.48103,"Franklin-Monroe High School, Oakes Road, Pitsb...",45337
36,Mt. Healthy,39.24105,-84.55412,"Mount Healthy Junior/Senior High School, Adams...",45231
37,Williamsburg,39.05168,-84.06522,"Williamsburg High School, Batavia-Williamsburg...",45103
38,Seton,39.11288,-84.57840,"Seton High School, Academy Avenue, Saint Lawre...",45205
39,Princeton,39.27591,-84.44600,"Princeton High School, Lippelman Road, Norther...",45246
40,Franklin,39.99766,-83.00853,"Ohio Union, 1739, North High Street, Indianola...",43210
41,Harrison,39.25543,-84.76989,"William Henry Harrison High School, West Road,...",45002
42,Edgewood,39.46633,-84.49009,"Edgewood High School, Busenbark Road, Busenbar...",45011
43,Bethel-Tate,38.96461,-84.06561,"Bethel-Tate High School, Starling Road, Tate T...",45106
44,Mercy,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
45,Goshen,39.22810,-84.15684,"Goshen High School, Goshen Road, Goshen, Goshe...",45122
46,Carroll,39.74027,-84.11318,"Carroll High School, Spinning Road, Park Layne...",45431
47,Chaminade Julienne,39.75293,-84.19302,"Chaminade-Julienne Catholic High School, South...",45402
48,Batavia,39.07269,-84.12803,"Batavia High School, 1, Bulldog Place, Batavia...",45160
49,Badin,39.39455,-84.59284,"Father Stephen T. Badin High School, New Londo...",45013
50,Lebanon,39.46404,-84.17949,"Lebanon High School, Drake Road, Warren County...",45036
51,Alter,39.67995,-84.15164,"Archbishop Alter High School, Renwood Drive, K...",45429
52,Talawanda,39.48885,-84.73121,"Talawanda High School, University Park Drive, ...",45056
53,Georgetown,38.88089,-83.90122,"Georgetown Junior/Senior High School, 987, Mou...",45121
54,Clinton Massie,39.44668,-83.98503,"Clinton-Massie High School, Lebanon Road, Vand...",45113
55,McNicholas,39.08702,-84.37557,"Archbishop McNicholas High School, Beechmont A...",45255
56,Roger Bacon,39.16233,-84.50258,"Roger Bacon High School, Vine Street, Saint Be...",45217
57,Fenwick,39.49140,-84.29538,"Bishop Fenwick High School, SR 122, Hunter, Wa...",45005
58,Purcell Marian,39.13087,-84.47546,"Purcell Marian High School, Hackberry Street, ...",45207

In [251]:
# Franklin returned a rec center at a university for whatever reason; corrected this one manually for ease of use
df_school_locations.loc[40] = 'Franklin', 39.55327, -84.28708, 'Franklin High School, 750, East 4th Street, Franklin, Warren County, Ohio, 45005, United States', 45005
df_school_locations

,name,latitude,longitude,display_name,zip
0,Mason,39.35071,-84.30624,"William Mason High School, Lakeside Drive, Mas...",45040
1,Mount Notre Dame,39.22200,-84.43283,"Mount Notre Dame High School, East Benson Aven...",45215
2,Turpin,39.10551,-84.36641,"Turpin High School, Bartels Road, Anderson Tow...",45244
3,Winton Woods,39.28798,-84.52618,"Winton Woods High School, 1231, West Kemper Ro...",45240
4,Fairfield,39.33688,-84.51831,"Fairfield Senior High School, 8800, Holden Bou...",45014
5,Kings,39.35317,-84.25501,"Kings High School, McClelland Avenue, Deerfiel...",45040
6,Milford,39.17987,-84.24062,"Milford High School, Eagles Way, Miami Townshi...",45150
7,McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
8,Hamilton,39.42485,-84.58000,"Hamilton High School, Eaton Avenue, River View...",45013
9,Sycamore,39.26651,-84.34983,"Sycamore High School, Cincinnati By-Pass, Mont...",45249
10,Little Miami,39.35673,-84.15986,"Little Miami High School, US 22;SR 3, Hamilton...",45152
11,Valley View,39.65585,-84.39930,"Valley View High School, Farmersville Germanto...",45327
12,Clermont Northeastern,39.13043,-84.10194,"Clermont Northeastern High School, 5327, Newto...",45103
13,Withrow,39.14227,-84.45159,"Withrow University High School, 2488, Madison ...",45208
14,Middletown,39.52259,-84.34861,"Middletown High School, 601, North Breiel Boul...",45042
15,Walnut Hills,39.14058,-84.47954,"Walnut Hills High School, Victory Parkway, Eva...",45207
16,Oak Hills,39.14753,-84.64812,"Oak Hills High School, Ebenezer Road, Bridgeto...",45248
17,Glen Este,39.08544,-84.26341,"Glen Este High School West Building, Judy Lane...",45245
18,Felicity-Franklin,38.83702,-84.09871,"Felicityâ€“Franklin High School, 105, North Mark...",45120
19,Colerain,39.23331,-84.60244,"Colerain High School, Cheviot Road, Carrousel ...",45251
20,St. Ursula,39.12559,-84.48232,"Saint Ursula Academy, William Howard Taft Road...",45206
21,Mercy McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
22,Anderson,39.06898,-84.34776,"Anderson High School, Forest Road, Asbury, And...",45255
23,Ross,39.94489,-82.99699,"Ross, Midian & Breitmayer, 846, South High Str...",43206
24,Wilmington,39.44952,-83.83916,"Wilmington High School, Richardson Place, Wilm...",45177
25,Lakota West,39.33024,-84.43108,"Lakota West High School, West Chester Road, We...",45069
26,Western Brown,39.03407,-83.93750,"Western Brown High School, Campus Drive, Mount...",45154
27,Lakota East,39.37956,-84.36945,"Lakota East High School Campus, 6840, Lakota L...",45044
28,New Richmond,38.95342,-84.26913,"New Richmond High School, 1131, Bethel-New Ric...",45157
29,Northwest,39.27020,-84.57778,"Northwest High School, Pippin Road, Mount Heal...",45231
30,Loveland,39.28121,-84.27612,"Loveland High School, Rich Road, Chatham Woods...",45140
31,Ursuline Academy,39.24800,-84.37151,"Ursuline Academy, Twinbrook Court, Kensington ...",45242
32,East Clinton,39.41761,-83.65031,"East Clinton High School, Larrick Road, Lees C...",45169
33,West Clermont,39.07120,-84.24898,"West Clermont High School, Clough Pike, Union ...",45103
34,Blanchester,39.29882,-83.96941,"Blanchester High School, Cherry Street, Blanch...",45148
35,Monroe,39.98169,-84.48103,"Franklin-Monroe High School, Oakes Road, Pitsb...",45337
36,Mt. Healthy,39.24105,-84.55412,"Mount Healthy Junior/Senior High School, Adams...",45231
37,Williamsburg,39.05168,-84.06522,"Williamsburg High School, Batavia-Williamsburg...",45103
38,Seton,39.11288,-84.57840,"Seton High School, Academy Avenue, Saint Lawre...",45205
39,Princeton,39.27591,-84.44600,"Princeton High School, Lippelman Road, Norther...",45246
40,Franklin,39.55327,-84.28708,"Franklin High School, 750, East 4th Street, Fr...",45005
41,Harrison,39.25543,-84.76989,"William Henry Harrison High School, West Road,...",45002
42,Edgewood,39.46633,-84.49009,"Edgewood High School, Busenbark Road, Busenbar...",45011
43,Bethel-Tate,38.96461,-84.06561,"Bethel-Tate High School, Starling Road, Tate T...",45106
44,Mercy,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
45,Goshen,39.22810,-84.15684,"Goshen High School, Goshen Road, Goshen, Goshe...",45122
46,Carroll,39.74027,-84.11318,"Carroll High School, Spinning Road, Park Layne...",45431
47,Chaminade Julienne,39.75293,-84.19302,"Chaminade-Julienne Catholic High School, South...",45402
48,Batavia,39.07269,-84.12803,"Batavia High School, 1, Bulldog Place, Batavia...",45160
49,Badin,39.39455,-84.59284,"Father Stephen T. Badin High School, New Londo...",45013
50,Lebanon,39.46404,-84.17949,"Lebanon High School, Drake Road, Warren County...",45036
51,Alter,39.67995,-84.15164,"Archbishop Alter High School, Renwood Drive, K...",45429
52,Talawanda,39.48885,-84.73121,"Talawanda High School, University Park Drive, ...",45056
53,Georgetown,38.88089,-83.90122,"Georgetown Junior/Senior High School, 987, Mou...",45121
54,Clinton Massie,39.44668,-83.98503,"Clinton-Massie High School, Lebanon Road, Vand...",45113
55,McNicholas,39.08702,-84.37557,"Archbishop McNicholas High School, Beechmont A...",45255
56,Roger Bacon,39.16233,-84.50258,"Roger Bacon High School, Vine Street, Saint Be...",45217
57,Fenwick,39.49140,-84.29538,"Bishop Fenwick High School, SR 122, Hunter, Wa...",45005
58,Purcell Marian,39.13087,-84.47546,"Purcell Marian High School, Hackberry Street, ...",45207

In [252]:
df_school_locations.to_csv('school_locations.csv')

# Find median income data

In [255]:
median_raw = requests.get('https://api.census.gov/data/2020/acs/acs5/subject?get=NAME,S1903_C03_001E&for=zip%20code%20tabulation%20area:*').content

In [287]:
# Request returned as bytes
df_median_income = pd.read_csv(BytesIO(median_raw))
df_median_income

             [["NAME"  S1903_C03_001E zip code tabulation area]  Unnamed: 3
0      ["ZCTA5 29590"           30985                    29590]         NaN
1      ["ZCTA5 93306"           54450                    93306]         NaN
2      ["ZCTA5 93660"           39625                    93660]         NaN
3      ["ZCTA5 93110"           93264                    93110]         NaN
4      ["ZCTA5 93212"           42983                    93212]         NaN
...               ...             ...                       ...         ...
33115  ["ZCTA5 16623"           51667                    16623]         NaN
33116  ["ZCTA5 16627"           45000                    16627]         NaN
33117  ["ZCTA5 16634"           51500                    16634]         NaN
33118  ["ZCTA5 16640"           55982                    16640]         NaN
33119  ["ZCTA5 17062"           73036                   17062]]         NaN

[33120 rows x 4 columns]

In [289]:
# Fix messy conversion to DataFrame
df_median_income.drop(df_median_income.columns[[0, 3]], axis=1, inplace=True)
df_median_income.set_axis(['zip_code', 'median_income'], axis=1, inplace=True)
df_median_income['median_income'] = df_median_income['median_income'].apply(lambda x: x.replace(']',''))
df_median_income = df_median_income.astype('int32')
df_median_income

       zip_code  median_income
0         30985          29590
1         54450          93306
2         39625          93660
3         93264          93110
4         42983          93212
...         ...            ...
33115     51667          16623
33116     45000          16627
33117     51500          16634
33118     55982          16640
33119     73036          17062

[33120 rows x 2 columns]

In [294]:
df_median_income.to_csv('median_income_by_zip.csv')

# Find bowling alley locations

In [361]:
page = requests.get('https://www.kidsbowlfree.com/all_centers.php')
soup = BeautifulSoup(page.content, 'html.parser')

In [364]:
alley_as = soup.find_all('a', {'title': re.compile('OH|KY|IN')})

In [366]:
alley_ids = []
for i in range(len(alley_as)):
    match = re.findall(r'id=(\d*)', str(alley_as[i]))[0]
    alley_ids.append(match)

In [370]:
alley_rows_list = []
for i in range(len(alley_ids)):
    page = requests.get(f'https://www.kidsbowlfree.com/center.php?alley_id={alley_ids[i]}')
    soup = BeautifulSoup(page.content, 'html.parser')
    name = soup.find_all('h1')[0].text.rstrip()
    address = soup.find_all('h4')[0].text.split('\n')
    street = address[0]
    rest = address[1].split(',')
    city = rest[0].lstrip()
    state = rest[1].lstrip()
    zip = rest[2].lstrip()[:5]
    try:
        response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={street}+{city},{state}&format=jsonv2').json()
        if len(response) >=1:
            lat = round(float(response[0]['lat']), 5)
            lon = round(float(response[0]['lon']), 5)
        else:
            lat = 0
            lon = 0
    except ValueError:  
        print('Decoding JSON failed')
    row =[name, street, city, state, zip, lat, lon]
    alley_rows_list.append(row)
    time.sleep(15)

Decoding JSON failed

In [400]:
df_alleys = pd.DataFrame(alley_rows_list, columns=['name', 'street_address', 'city', 'state', 'zip', 'latitude', 'longitude'])
df_alleys

,name,street_address,city,state,zip,latitude,longitude
0,Beech Grove Bowl,95 N 2nd Ave,Beech Grove,IN,46107,39.72342,-86.08373
1,Classic Bowling Lanes,1421 N Willis Dr,Bloomington,IN,47404,39.18003,-86.54533
2,IMU Bowling & Billiards,900 E. Seventh St.,Bloomington,IN,47405,0.00000,0.00000
3,Blackiston Bowl,1516 Blackiston Mill Rd,Clarksville,IN,47129,38.31385,-85.77146
4,Clarksville Strike & Spare,900 Eastern Blvd,Clarksville,IN,47129,38.30337,-85.76479
...,...,...,...,...,...,...,...
112,Le Ella Lanes,1428 US 22 NW,Washington Court House,OH,43160,0.00000,0.00000
113,Le Ella Lanes of Wellston,15 N Park Ave,Wellston,OH,45692,39.12390,-82.53593
114,Dynasty Lanes,3105 S.R. 103 East,Willard,OH,44890,0.00000,0.00000
115,Royal Z Lanes,2667 St Rt 22&3,Wilmington,OH,45177,48.03349,-71.29568
116,Camelot Lanes,628 Boardman Canfield Rd,Youngstown,OH,44512,0.00000,0.00000

In [401]:
df_alleys.to_csv('alley_addresses.csv')

In [402]:
df_alleys = df_alleys.loc[((df_alleys['latitude'].between(38.75, 40.5))&(df_alleys['longitude'].between(-85.5, -83.75))),:]
df_alleys = df_alleys.drop_duplicates()
df_alleys

,name,street_address,city,state,zip,latitude,longitude
19,Durbin Bowl,158 Front St,Lawrenceburg,IN,47025,39.09341,-84.85595
27,Richmond 40 Bowl,75 S 37th St,Richmond,IN,47374,39.82520,-84.85065
33,Southern Lanes,7634 Alexandria Pike,Alexandria,KY,41001,38.97744,-84.39221
36,Strike & Spare Erlanger,510 Commonwealth Ave,Erlanger,KY,41018,39.02066,-84.60484
39,La Ru Bowling Lanes,2443 Alexandria Pike,Highland Heights,KY,41076,39.03854,-84.45038
47,Super Bowl Bellewood,1211 Waterworks Rd.,Newport,KY,41071,39.09446,-84.46945
56,Batavia Bowl,1991 James E. Sauls Drive,Batavia,OH,45103,39.07331,-84.11340
65,Strike & Spare Western Bowl,6383 Glenway Ave.,Cincinnati,OH,45211,39.14543,-84.62431
66,Pla-Mor Lanes,225 E Hardin St,Coldwater,OH,45828,40.48870,-84.62483
71,Poelking Lanes - Dayton,1403 Wilmington Ave,Dayton,OH,45420,39.72844,-84.15566
72,Gilmore Lanes,5595 Dixie Highway,Fairfield,OH,45014,39.33176,-84.52038
73,Northwest Lanes,1765 Happy Valley Dr.,Fairfield,OH,45014,39.31472,-84.55989
86,Poelking-Woodman Lanes,3200 Woodman Dr.,Kettering,OH,45420,39.69807,-84.12360
96,Scene 75-Cincinnati,876 State Route 28,Milford,OH,45150,39.18848,-84.25798
103,Break Point Entertainment,8433 N County Road 25A,Piqua,OH,45356,40.16130,-84.23701
107,Victory Lanes,1906 Commerce Circle,Springfield,OH,45504,39.93731,-83.84328

In [403]:
df_alleys.to_csv('alley_addresses_bounded.csv')