# Imports

In [554]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import html5lib
import lxml
import re
from datetime import datetime
import time
import itertools
import random
import numpy as np
from io import BytesIO
from math import radians, cos, sin, asin, sqrt, atan2

# Setup

In [3]:
# OHSAA Southwest District conferences
domains = ['https://eccsports.com/',
           'https://gmcsports.com/',
           'http://www.swocsports.com/',
           'http://www.swblsports.com/',
           'http://sbaac.com/',
           'http://ggcl.gclsports.com/',
           ]

# Gender URL examples (standings, schedule, statistics)
girls = ['35', '215', '218']
boys = ['30', '137', '162']

# Requests headers
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'}

# Download List of Matches

In [156]:
match_ids = []
totals_rows_list = []
for year in range(2007, 2023):
    for gender in [girls, boys]:
        for domain in domains[:]:
            page = requests.get(
                f'{domain}schedule.aspx?satc={gender[1]}&cmp=1&year={year}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            title = soup.find('title').string
            match_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in match_links:
                href = link['href']
                matches = re.findall(r'id=(.*)', href)

                # Add to list of Match IDs
                match_ids.append(matches[0])

                # Add to list of Match IDs with totals from table
                id = int(matches[0])
                total = link.parent.find_previous_sibling().findChild().contents
                date = link.find_previous('th').find_previous('th').contents
                date_parsed = str(datetime.strptime(
                    date[0], '%A, %B %d, %Y').isoformat()[:10])

                row = [id, total, date_parsed,
                       f'{year}-{year+1}', gender[1], domain, title]
                totals_rows_list.append(row)
            time.sleep(.25)

In [158]:
df_matches_totals = pd.DataFrame(totals_rows_list, columns=[
                                 'match_id', 'total', 'date', 'year', 'gender', 'domain', 'title'])
df_matches_totals['total'] = df_matches_totals['total'].str[0]
df_matches_totals.to_csv('matches_sw_district.csv')
df_matches_totals

,match_id,total,date,year,gender,domain,title
0,22219,"Loveland 1602, Hamilton 1313",2008-11-24,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
1,22220,"Middletown 2206, Sycamore 1976",2008-11-24,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
2,22222,"Princeton 2318, Colerain 1895",2008-11-25,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
3,22221,"Mason 1827, Hamilton 1465",2008-11-25,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
4,23966,"Lakota East 2072, Walnut Hills 1728",2008-12-01,2008-2009,215,https://gmcsports.com/,Greater Miami Conference
...,...,...,...,...,...,...,...
11028,237373,"New Richmond 2741, McNicholas 2502",2022-02-08,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11029,218533,"Clermont Northeastern 2256, East Clinton 2112",2022-02-08,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11030,237374,"Georgetown 2489, New Richmond 2337",2022-02-11,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11031,240020,Felicity-Franklin at Sectional Tournament **sc...,2022-02-15,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference
11032,240129,"Western Brown 2428, New Richmond 2206",2022-02-21,2021-2022,137,http://sbaac.com/,Southern Buckeye Athletic and Academic Conference

## Filter out matches without scores or outside usual

In [ ]:
has_score_filter = df_matches_totals['Total'].str.contains('(\d\d\d.*){2}')
df_has_score = df_matches_totals[has_score_filter]
not_actual_match = df_has_score['Total'].str.contains(
    '(\d\d\d.+){3,}|( Tournament )|( at )|(lassic)|(,.+){2}')
df_has_score = df_has_score[~not_actual_match]

In [9]:
df_has_score.to_csv('matches_sw_district_have_scores.csv')

## Split score totals

In [ ]:
df_score_split = df_has_score.copy()
df_score_split['Total'] = df_score_split['Total'].str.split(',')
df_score_split = df_score_split.explode('Total').reset_index(drop=True)
df_score_split['Name'] = df_score_split['Total'].str[:-5]
df_score_split['Score'] = df_score_split['Total'].str[-4:]

In [15]:
df_score_split.to_csv('matches_sw_district_have_scores_split.csv')

## Download baker games

In [201]:
baker_games = []
for ind in df_matches_totals.sample(frac=1).index:
    page = requests.get(f'{df_matches_totals.domain[ind]}bwMatchStats.aspx?matchid={df_matches_totals.match_id[ind]}', headers=headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    ths = soup.find_all('th', string='BAKER GAMES')
    for i in range(len(ths)):
        games_list = []
        school_th = ths[i].findPrevious('thead').findNext('th').text
        for j in range(6):
            games_list.append(ths[i].parent.findNext('td').find_next_siblings()[j].text)
        baker_row = (df_matches_totals.domain[ind], df_matches_totals.match_id[ind], school_th, games_list)
        baker_games.append(baker_row)
        time.sleep(.25)

In [202]:
df_baker_games = pd.DataFrame(baker_games, columns=['domain', 'match_id', 'school', 'games'])
df_baker_games.to_csv('baker_games.csv')
df_baker_games

,domain,match_id,school,games
0,https://eccsports.com/,160342,Loveland,"[90, 107, , , , ]"
1,https://eccsports.com/,160342,Winton Woods,"[92, 76, , , , ]"
2,https://gmcsports.com/,24731,Lakota West,"[240, 194, , , , ]"
3,http://sbaac.com/,238189,Felicity-Franklin,"[0, 0, 121, 119, 125, 111]"
4,https://gmcsports.com/,22173,Princeton,"[181, 160, 203, 167, , ]"
...,...,...,...,...
14281,https://eccsports.com/,115787,Loveland,"[92, 110, 122, 122, , ]"
14282,http://ggcl.gclsports.com/,147465,Mount Notre Dame,"[132, 126, 128, 128, , ]"
14283,http://ggcl.gclsports.com/,147465,Mercy McAuley,"[190, 220, 160, 174, , ]"
14284,https://gmcsports.com/,66863,Oak Hills,"[169, 213, 202, 169, , ]"
14285,https://gmcsports.com/,66863,Middletown,"[162, 171, 191, 216, , ]"

# Download List of Schools

In [18]:
schools_rows_list = []
for domain in domains[:]:
    for gender in [girls, boys]:
        for year in range(2007, 2023):
            page = requests.get(
                f'{domain}confstandings.aspx?sat={gender[0]}&cmp=1&year={year}')
            soup = BeautifulSoup(page.content, 'html.parser')
            school_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in school_links:

                school_name = link.contents

                schools_rows_list.append(school_name)
            time.sleep(10)

In [19]:
df_official_names = pd.DataFrame(schools_rows_list, columns=['Name'])
df_official_names = df_official_names.drop_duplicates().reset_index(drop=True)

In [20]:
df_official_names.to_csv('official_names.csv')

# Download Player Stats

In [4]:
school_ids = []
schools_rows_list = []

for year in range(2007, 2023):
    for gender in [girls, boys]:
        for domain in domains[:]:
            page = requests.get(
                f'{domain}bwstatistics.aspx?satc={gender[2]}&year={year}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            stats_links = soup.select('a[href*=teamStats]')
            for link in stats_links:
                href = link['href']
                matches = re.findall(r'id=(.*)', href)
                school_ids.append(matches[0])
                id = int(matches[0])
                row = [id, domain]
                schools_rows_list.append(row)

In [5]:
schools_rows_list.sort()
unique_schools = list(k for k, _ in itertools.groupby(schools_rows_list))
df_unique_schools = pd.DataFrame(
    unique_schools, columns=['SchoolID', 'Domain'])
unique_schools

[[1, 'https://gmcsports.com/'],
 [2, 'https://gmcsports.com/'],
 [3, 'https://gmcsports.com/'],
 [4, 'https://gmcsports.com/'],
 [5, 'https://gmcsports.com/'],
 [6, 'https://gmcsports.com/'],
 [7, 'https://eccsports.com/'],
 [8, 'https://gmcsports.com/'],
 [9, 'https://gmcsports.com/'],
 [10, 'https://gmcsports.com/'],
 [11, 'http://ggcl.gclsports.com/'],
 [12, 'http://ggcl.gclsports.com/'],
 [13, 'http://ggcl.gclsports.com/'],
 [16, 'http://ggcl.gclsports.com/'],
 [18, 'http://ggcl.gclsports.com/'],
 [19, 'http://ggcl.gclsports.com/'],
 [22, 'https://eccsports.com/'],
 [23, 'https://eccsports.com/'],
 [24, 'http://sbaac.com/'],
 [25, 'http://www.swocsports.com/'],
 [26, 'https://eccsports.com/'],
 [27, 'http://www.swocsports.com/'],
 [27, 'https://eccsports.com/'],
 [28, 'https://eccsports.com/'],
 [29, 'https://gmcsports.com/'],
 [31, 'http://www.swocsports.com/'],
 [32, 'http://www.swocsports.com/'],
 [33, 'https://eccsports.com/'],
 [34, 'https://eccsports.com/'],
 [35, 'http://sbaac.com/'],
 [35, 'http://www.swocsports.com/'],
 [36, 'https://eccsports.com/'],
 [44, 'http://sbaac.com/'],
 [45, 'http://sbaac.com/'],
 [46, 'http://sbaac.com/'],
 [47, 'https://eccsports.com/'],
 [51, 'http://www.swblsports.com/'],
 [68, 'http://ggcl.gclsports.com/'],
 [69, 'http://ggcl.gclsports.com/'],
 [70, 'http://www.swocsports.com/'],
 [71, 'http://www.swocsports.com/'],
 [72, 'http://www.swocsports.com/'],
 [81, 'http://ggcl.gclsports.com/'],
 [82, 'http://ggcl.gclsports.com/'],
 [83, 'http://ggcl.gclsports.com/'],
 [84, 'http://ggcl.gclsports.com/'],
 [85, 'http://ggcl.gclsports.com/'],
 [86, 'http://ggcl.gclsports.com/'],
 [97, 'http://sbaac.com/'],
 [98, 'http://sbaac.com/'],
 [99, 'http://sbaac.com/'],
 [101, 'http://sbaac.com/'],
 [102, 'http://sbaac.com/'],
 [103, 'http://sbaac.com/'],
 [104, 'http://sbaac.com/'],
 [105, 'http://sbaac.com/'],
 [118, 'https://eccsports.com/'],
 [185, 'http://www.swblsports.com/'],
 [187, 'http://www.swblsports.com/'],
 [226, 'http://www.swblsports.com/'],
 [1121, 'http://www.swblsports.com/'],
 [1122, 'http://www.swblsports.com/'],
 [1123, 'http://www.swblsports.com/'],
 [1124, 'http://www.swblsports.com/'],
 [1125, 'http://www.swblsports.com/'],
 [1126, 'http://www.swblsports.com/'],
 [1198, 'https://eccsports.com/'],
 [1215, 'http://ggcl.gclsports.com/']]

In [6]:

df_unique_schools.to_csv('school_ids.csv')

In [7]:
players_rows_list = []
random.shuffle(unique_schools)
for year in range(2007, 2023):
    for gender in [girls, boys]:
        for school_id, domain in unique_schools[:]:
            page = requests.get(
                f'{domain}teamStats.aspx?sat={gender[0]}&cmp=1&year={year}&schoolid={school_id}', headers=headers)
            soup = BeautifulSoup(page.content, 'html.parser')
            player_links = soup.select('a[id*=ContentPlaceHolder1]')
            for link in player_links:
                href = link['href']
                matches = re.findall(r'player=(.*)', href)

                # Add to list of Match IDs with totals from table
                id = int(matches[0])

                row = [id, domain, ]
                players_rows_list.append(row)
            time.sleep(.25)
players_rows_list
df_player_ids = pd.DataFrame(players_rows_list, columns=[
                             'player_id', 'domain', ])

[[57953, 'http://ggcl.gclsports.com/'],
 [57949, 'http://ggcl.gclsports.com/'],
 [57948, 'http://ggcl.gclsports.com/'],
 [57950, 'http://ggcl.gclsports.com/'],
 [57954, 'http://ggcl.gclsports.com/'],
 [57951, 'http://ggcl.gclsports.com/'],
 [57955, 'http://ggcl.gclsports.com/'],
 [57952, 'http://ggcl.gclsports.com/'],
 [58307, 'http://ggcl.gclsports.com/'],
 [58308, 'http://ggcl.gclsports.com/'],
 [58309, 'http://ggcl.gclsports.com/'],
 [58310, 'http://ggcl.gclsports.com/'],
 [64552, 'http://ggcl.gclsports.com/'],
 [58311, 'http://ggcl.gclsports.com/'],
 [58312, 'http://ggcl.gclsports.com/'],
 [58313, 'http://ggcl.gclsports.com/'],
 [58314, 'http://ggcl.gclsports.com/'],
 [57914, 'http://ggcl.gclsports.com/'],
 [57915, 'http://ggcl.gclsports.com/'],
 [57916, 'http://ggcl.gclsports.com/'],
 [57917, 'http://ggcl.gclsports.com/'],
 [57918, 'http://ggcl.gclsports.com/'],
 [62204, 'http://ggcl.gclsports.com/'],
 [57919, 'http://ggcl.gclsports.com/'],
 [63577, 'http://ggcl.gclsports.com/'],
 [59525, 'http://ggcl.gclsports.com/'],
 [57044, 'https://gmcsports.com/'],
 [57047, 'https://gmcsports.com/'],
 [57048, 'https://gmcsports.com/'],
 [57045, 'https://gmcsports.com/'],
 [57049, 'https://gmcsports.com/'],
 [57051, 'https://gmcsports.com/'],
 [59309, 'https://gmcsports.com/'],
 [57052, 'https://gmcsports.com/'],
 [58078, 'http://ggcl.gclsports.com/'],
 [58076, 'http://ggcl.gclsports.com/'],
 [58074, 'http://ggcl.gclsports.com/'],
 [58075, 'http://ggcl.gclsports.com/'],
 [58079, 'http://ggcl.gclsports.com/'],
 [58077, 'http://ggcl.gclsports.com/'],
 [57887, 'http://ggcl.gclsports.com/'],
 [57888, 'http://ggcl.gclsports.com/'],
 [57889, 'http://ggcl.gclsports.com/'],
 [57890, 'http://ggcl.gclsports.com/'],
 [60713, 'http://ggcl.gclsports.com/'],
 [64507, 'http://ggcl.gclsports.com/'],
 [60714, 'http://ggcl.gclsports.com/'],
 [57891, 'http://ggcl.gclsports.com/'],
 [64467, 'http://ggcl.gclsports.com/'],
 [57893, 'http://ggcl.gclsports.com/'],
 [57892, 'http://ggcl.gclsports.com/'],
 [57311, 'http://ggcl.gclsports.com/'],
 [57313, 'http://ggcl.gclsports.com/'],
 [57307, 'http://ggcl.gclsports.com/'],
 [57306, 'http://ggcl.gclsports.com/'],
 [57309, 'http://ggcl.gclsports.com/'],
 [57308, 'http://ggcl.gclsports.com/'],
 [57315, 'http://ggcl.gclsports.com/'],
 [57310, 'http://ggcl.gclsports.com/'],
 [57314, 'http://ggcl.gclsports.com/'],
 [57102, 'https://gmcsports.com/'],
 [57101, 'https://gmcsports.com/'],
 [57100, 'https://gmcsports.com/'],
 [57099, 'https://gmcsports.com/'],
 [57098, 'https://gmcsports.com/'],
 [57097, 'https://gmcsports.com/'],
 [64392, 'https://gmcsports.com/'],
 [58807, 'https://gmcsports.com/'],
 [58805, 'https://gmcsports.com/'],
 [58809, 'https://gmcsports.com/'],
 [58814, 'https://gmcsports.com/'],
 [58821, 'https://gmcsports.com/'],
 [58819, 'https://gmcsports.com/'],
 [57170, 'http://ggcl.gclsports.com/'],
 [57171, 'http://ggcl.gclsports.com/'],
 [57172, 'http://ggcl.gclsports.com/'],
 [57173, 'http://ggcl.gclsports.com/'],
 [57174, 'http://ggcl.gclsports.com/'],
 [57177, 'http://ggcl.gclsports.com/'],
 [57175, 'http://ggcl.gclsports.com/'],
 [57176, 'http://ggcl.gclsports.com/'],
 [58012, 'http://ggcl.gclsports.com/'],
 [58013, 'http://ggcl.gclsports.com/'],
 [58014, 'http://ggcl.gclsports.com/'],
 [58016, 'http://ggcl.gclsports.com/'],
 [58017, 'http://ggcl.gclsports.com/'],
 [58018, 'http://ggcl.gclsports.com/'],
 [58019, 'http://ggcl.gclsports.com/'],
 [58020, 'http://ggcl.gclsports.com/'],
 [58021, 'http://ggcl.gclsports.com/'],
 [58022, 'http://ggcl.gclsports.com/'],
 [58023, 'http://ggcl.gclsports.com/'],
 [58024, 'http://ggcl.gclsports.com/'],
 [59287, 'http://ggcl.gclsports.com/'],
 [59289, 'http://ggcl.gclsports.com/'],
 [59024, 'http://ggcl.gclsports.com/'],
 [59023, 'http://ggcl.gclsports.com/'],
 [59026, 'http://ggcl.gclsports.com/'],
 [59286, 'http://ggcl.gclsports.com/'],
 [59022, 'http://ggcl.gclsports.com/'],
 [59025, 'http://ggcl.gclsports.com/'],
 [59288, 'http://ggcl.gclsports.com/'],
 [59285, 'http://ggcl.gclsports.com/'],
 [58329, 'http://ggcl.gclsports.com/'],
 [58328, 'http://ggcl.gclsports.com/'],
 [58330, 'http://ggcl.gclsports.com/'],
 [58326, 'http://ggcl.gclsports.com/'],
 [58327, 'http://ggcl.gclsports.com/'],
 [58324, 'http://ggcl.gclsports.com/'],
 [58325, 'http://ggcl.gclsports.com/'],
 [59283, 'https://gmcsports.com/'],
 [64375, 'https://gmcsports.com/'],
 [59278, 'https://gmcsports.com/'],
 [59279, 'https://gmcsports.com/'],
 [59280, 'https://gmcsports.com/'],
 [59726, 'https://gmcsports.com/'],
 [59281, 'https://gmcsports.com/'],
 [59282, 'https://gmcsports.com/'],
 [56096, 'https://gmcsports.com/'],
 [57745, 'https://gmcsports.com/'],
 [56095, 'https://gmcsports.com/'],
 [56093, 'https://gmcsports.com/'],
 [56097, 'https://gmcsports.com/'],
 [57746, 'https://gmcsports.com/'],
 [56094, 'https://gmcsports.com/'],
 [57151, 'https://gmcsports.com/'],
 [57158, 'https://gmcsports.com/'],
 [57157, 'https://gmcsports.com/'],
 [57159, 'https://gmcsports.com/'],
 [57145, 'https://gmcsports.com/'],
 [57154, 'https://gmcsports.com/'],
 [57147, 'https://gmcsports.com/'],
 [57160, 'https://gmcsports.com/'],
 [57156, 'https://gmcsports.com/'],
 [57146, 'https://gmcsports.com/'],
 [57148, 'https://gmcsports.com/'],
 [57150, 'https://gmcsports.com/'],
 [57155, 'https://gmcsports.com/'],
 [56968, 'http://ggcl.gclsports.com/'],
 [56969, 'http://ggcl.gclsports.com/'],
 [56976, 'http://ggcl.gclsports.com/'],
 [56980, 'http://ggcl.gclsports.com/'],
 [56981, 'http://ggcl.gclsports.com/'],
 [56967, 'http://ggcl.gclsports.com/'],
 [56979, 'http://ggcl.gclsports.com/'],
 [56982, 'http://ggcl.gclsports.com/'],
 [56983, 'http://ggcl.gclsports.com/'],
 [60547, 'https://gmcsports.com/'],
 [60548, 'https://gmcsports.com/'],
 [60549, 'https://gmcsports.com/'],
 [60550, 'https://gmcsports.com/'],
 [60551, 'https://gmcsports.com/'],
 [60564, 'https://gmcsports.com/'],
 [60565, 'https://gmcsports.com/'],
 [64104, 'https://gmcsports.com/'],
 [59140, 'https://gmcsports.com/'],
 [59147, 'https://gmcsports.com/'],
 [59141, 'https://gmcsports.com/'],
 [59145, 'https://gmcsports.com/'],
 [59143, 'https://gmcsports.com/'],
 [59142, 'https://gmcsports.com/'],
 [59144, 'https://gmcsports.com/'],
 [59146, 'https://gmcsports.com/'],
 [57224, 'https://gmcsports.com/'],
 [57228, 'https://gmcsports.com/'],
 [57226, 'https://gmcsports.com/'],
 [57227, 'https://gmcsports.com/'],
 [57225, 'https://gmcsports.com/'],
 [57332, 'http://ggcl.gclsports.com/'],
 [63907, 'http://ggcl.gclsports.com/'],
 [57329, 'http://ggcl.gclsports.com/'],
 [59999, 'http://ggcl.gclsports.com/'],
 [57331, 'http://ggcl.gclsports.com/'],
 [57330, 'http://ggcl.gclsports.com/'],
 [57328, 'http://ggcl.gclsports.com/'],
 [57931, 'http://ggcl.gclsports.com/'],
 [57935, 'http://ggcl.gclsports.com/'],
 [57938, 'http://ggcl.gclsports.com/'],
 [57936, 'http://ggcl.gclsports.com/'],
 [57937, 'http://ggcl.gclsports.com/'],
 [63573, 'http://ggcl.gclsports.com/'],
 [57934, 'http://ggcl.gclsports.com/'],
 [57932, 'http://ggcl.gclsports.com/'],
 [61114, 'http://ggcl.gclsports.com/'],
 [57933, 'http://ggcl.gclsports.com/'],
 [60715, 'http://ggcl.gclsports.com/'],
 [57939, 'http://ggcl.gclsports.com/'],
 [63664, 'http://ggcl.gclsports.com/'],
 [57335, 'http://ggcl.gclsports.com/'],
 [57336, 'http://ggcl.gclsports.com/'],
 [64538, 'http://ggcl.gclsports.com/'],
 [57898, 'http://ggcl.gclsports.com/'],
 [57894, 'http://ggcl.gclsports.com/'],
 [57895, 'http://ggcl.gclsports.com/'],
 [57897, 'http://ggcl.gclsports.com/'],
 [63569, 'http://ggcl.gclsports.com/'],
 [57899, 'http://ggcl.gclsports.com/'],
 [57896, 'http://ggcl.gclsports.com/'],
 [57990, 'https://gmcsports.com/'],
 [64374, 'https://gmcsports.com/'],
 [57988, 'https://gmcsports.com/'],
 [57992, 'https://gmcsports.com/'],
 [57987, 'https://gmcsports.com/'],
 [57993, 'https://gmcsports.com/'],
 [57994, 'https://gmcsports.com/'],
 [57986, 'https://gmcsports.com/'],
 [57991, 'https://gmcsports.com/'],
 [57989, 'https://gmcsports.com/'],
 [57468, 'https://gmcsports.com/'],
 [59948, 'https://gmcsports.com/'],
 [57471, 'https://gmcsports.com/'],
 [57469, 'https://gmcsports.com/'],
 [57470, 'https://gmcsports.com/'],
 [64342, 'https://gmcsports.com/'],
 [57467, 'https://gmcsports.com/'],
 [57472, 'https://gmcsports.com/'],
 [57473, 'https://gmcsports.com/'],
 [57496, 'https://gmcsports.com/'],
 [57501, 'https://gmcsports.com/'],
 [57493, 'https://gmcsports.com/'],
 [57495, 'https://gmcsports.com/'],
 [57500, 'https://gmcsports.com/'],
 [57497, 'https://gmcsports.com/'],
 [57499, 'https://gmcsports.com/'],
 [57498, 'https://gmcsports.com/'],
 [58432, 'https://gmcsports.com/'],
 [59492, 'https://gmcsports.com/'],
 [59496, 'https://gmcsports.com/'],
 [64391, 'https://gmcsports.com/'],
 [64390, 'https://gmcsports.com/'],
 [58433, 'https://gmcsports.com/'],
 [58431, 'https://gmcsports.com/'],
 [59494, 'https://gmcsports.com/'],
 [59495, 'https://gmcsports.com/'],
 [59724, 'https://gmcsports.com/'],
 [59272, 'https://gmcsports.com/'],
 [64373, 'https://gmcsports.com/'],
 [59275, 'https://gmcsports.com/'],
 [59274, 'https://gmcsports.com/'],
 [59277, 'https://gmcsports.com/'],
 [62056, 'https://gmcsports.com/'],
 [59273, 'https://gmcsports.com/'],
 [59276, 'https://gmcsports.com/'],
 [62058, 'https://gmcsports.com/'],
 [56083, 'https://gmcsports.com/'],
 [56084, 'https://gmcsports.com/'],
 [56085, 'https://gmcsports.com/'],
 [56086, 'https://gmcsports.com/'],
 [56087, 'https://gmcsports.com/'],
 [56089, 'https://gmcsports.com/'],
 [56090, 'https://gmcsports.com/'],
 [56091, 'https://gmcsports.com/'],
 [56092, 'https://gmcsports.com/'],
 [57131, 'https://gmcsports.com/'],
 [57134, 'https://gmcsports.com/'],
 [57130, 'https://gmcsports.com/'],
 [57135, 'https://gmcsports.com/'],
 [57132, 'https://gmcsports.com/'],
 [57138, 'https://gmcsports.com/'],
 [57133, 'https://gmcsports.com/'],
 [57141, 'https://gmcsports.com/'],
 [57136, 'https://gmcsports.com/'],
 [57143, 'https://gmcsports.com/'],
 [57140, 'https://gmcsports.com/'],
 [60544, 'https://gmcsports.com/'],
 [60540, 'https://gmcsports.com/'],
 [60539, 'https://gmcsports.com/'],
 [60543, 'https://gmcsports.com/'],
 [60541, 'https://gmcsports.com/'],
 [60538, 'https://gmcsports.com/'],
 [60545, 'https://gmcsports.com/'],
 [57748, 'https://gmcsports.com/'],
 [59940, 'https://gmcsports.com/'],
 [57753, 'https://gmcsports.com/'],
 [57751, 'https://gmcsports.com/'],
 [59941, 'https://gmcsports.com/'],
 [57747, 'https://gmcsports.com/'],
 [57749, 'https://gmcsports.com/'],
 [57754, 'https://gmcsports.com/'],
 [57744, 'https://gmcsports.com/'],
 [57738, 'https://gmcsports.com/'],
 [57742, 'https://gmcsports.com/'],
 [64372, 'https://gmcsports.com/'],
 [57739, 'https://gmcsports.com/'],
 [57741, 'https://gmcsports.com/'],
 [57743, 'https://gmcsports.com/'],
 [58972, 'https://gmcsports.com/'],
 [58973, 'https://gmcsports.com/'],
 [58974, 'https://gmcsports.com/'],
 [62326, 'https://gmcsports.com/'],
 [58979, 'https://gmcsports.com/'],
 [58976, 'https://gmcsports.com/'],
 [58978, 'https://gmcsports.com/'],
 [58975, 'https://gmcsports.com/'],
 [58977, 'https://gmcsports.com/'],
 [96337, 'http://ggcl.gclsports.com/'],
 [93592, 'http://ggcl.gclsports.com/'],
 [93588, 'http://ggcl.gclsports.com/'],
 [99040, 'http://ggcl.gclsports.com/'],
 [93587, 'http://ggcl.gclsports.com/'],
 [99039, 'http://ggcl.gclsports.com/'],
 [93590, 'http://ggcl.gclsports.com/'],
 [93594, 'http://ggcl.gclsports.com/'],
 [93591, 'http://ggcl.gclsports.com/'],
 [94177, 'http://ggcl.gclsports.com/'],
 [94178, 'http://ggcl.gclsports.com/'],
 [94179, 'http://ggcl.gclsports.com/'],
 [94180, 'http://ggcl.gclsports.com/'],
 [93572, 'http://ggcl.gclsports.com/'],
 [94182, 'http://ggcl.gclsports.com/'],
 [94183, 'http://ggcl.gclsports.com/'],
 [93577, 'http://ggcl.gclsports.com/'],
 [93578, 'http://ggcl.gclsports.com/'],
 [93579, 'http://ggcl.gclsports.com/'],
 [99532, 'http://ggcl.gclsports.com/'],
 [93581, 'http://ggcl.gclsports.com/'],
 [99196, 'http://ggcl.gclsports.com/'],
 [93582, 'http://ggcl.gclsports.com/'],
 [93580, 'http://ggcl.gclsports.com/'],
 [94082, 'https://gmcsports.com/'],
 [94083, 'https://gmcsports.com/'],
 [97238, 'https://gmcsports.com/'],
 [94084, 'https://gmcsports.com/'],
 [97239, 'https://gmcsports.com/'],
 [94087, 'https://gmcsports.com/'],
 [97797, 'https://gmcsports.com/'],
 [94085, 'https://gmcsports.com/'],
 [94088, 'https://gmcsports.com/'],
 [98812, 'https://gmcsports.com/'],
 [94086, 'https://gmcsports.com/'],
 [93548, 'http://ggcl.gclsports.com/'],
 [93546, 'http://ggcl.gclsports.com/'],
 [93547, 'http://ggcl.gclsports.com/'],
 [96371, 'http://ggcl.gclsports.com/'],
 [96372, 'http://ggcl.gclsports.com/'],
 [93550, 'http://ggcl.gclsports.com/'],
 [93549, 'http://ggcl.gclsports.com/'],
 [96373, 'http://ggcl.gclsports.com/'],
 [96370, 'http://ggcl.gclsports.com/'],
 [94434, 'http://ggcl.gclsports.com/'],
 [93534, 'http://ggcl.gclsports.com/'],
 [93535, 'http://ggcl.gclsports.com/'],
 [93538, 'http://ggcl.gclsports.com/'],
 [93539, 'http://ggcl.gclsports.com/'],
 [93536, 'http://ggcl.gclsports.com/'],
 [93540, 'http://ggcl.gclsports.com/'],
 [93537, 'http://ggcl.gclsports.com/'],
 [93395, 'http://ggcl.gclsports.com/'],
 [93386, 'http://ggcl.gclsports.com/'],
 [93382, 'http://ggcl.gclsports.com/'],
 [93388, 'http://ggcl.gclsports.com/'],
 [93392, 'http://ggcl.gclsports.com/'],
 [93393, 'http://ggcl.gclsports.com/'],
 [93387, 'http://ggcl.gclsports.com/'],
 [93394, 'http://ggcl.gclsports.com/'],
 [95446, 'https://gmcsports.com/'],
 [95450, 'https://gmcsports.com/'],
 [95449, 'https://gmcsports.com/'],
 [95445, 'https://gmcsports.com/'],
 [95443, 'https://gmcsports.com/'],
 [95448, 'https://gmcsports.com/'],
 [95444, 'https://gmcsports.com/'],
 [96655, 'https://gmcsports.com/'],
 [96650, 'https://gmcsports.com/'],
 [96651, 'https://gmcsports.com/'],
 [96652, 'https://gmcsports.com/'],
 [96654, 'https://gmcsports.com/'],
 [96653, 'https://gmcsports.com/'],
 [96656, 'https://gmcsports.com/'],
 [93541, 'http://ggcl.gclsports.com/'],
 [93542, 'http://ggcl.gclsports.com/'],
 [96381, 'http://ggcl.gclsports.com/'],
 [93544, 'http://ggcl.gclsports.com/'],
 [96383, 'http://ggcl.gclsports.com/'],
 [96382, 'http://ggcl.gclsports.com/'],
 [93545, 'http://ggcl.gclsports.com/'],
 [93556, 'http://ggcl.gclsports.com/'],
 [93557, 'http://ggcl.gclsports.com/'],
 [95241, 'http://ggcl.gclsports.com/'],
 [93558, 'http://ggcl.gclsports.com/'],
 [96374, 'http://ggcl.gclsports.com/'],
 [96391, 'http://ggcl.gclsports.com/'],
 [95240, 'http://ggcl.gclsports.com/'],
 [98125, 'http://ggcl.gclsports.com/'],
 [93559, 'http://ggcl.gclsports.com/'],
 [93533, 'http://ggcl.gclsports.com/'],
 [93528, 'http://ggcl.gclsports.com/'],
 [93530, 'http://ggcl.gclsports.com/'],
 [97352, 'http://ggcl.gclsports.com/'],
 [97348, 'http://ggcl.gclsports.com/'],
 [97353, 'http://ggcl.gclsports.com/'],
 [93527, 'http://ggcl.gclsports.com/'],
 [93532, 'http://ggcl.gclsports.com/'],
 [93529, 'http://ggcl.gclsports.com/'],
 [94436, 'http://ggcl.gclsports.com/'],
 [93575, 'http://ggcl.gclsports.com/'],
 [93576, 'http://ggcl.gclsports.com/'],
 [93573, 'http://ggcl.gclsports.com/'],
 [93574, 'http://ggcl.gclsports.com/'],
 [94437, 'http://ggcl.gclsports.com/'],
 [99174, 'http://ggcl.gclsports.com/'],
 [101533, 'https://gmcsports.com/'],
 [95332, 'https://gmcsports.com/'],
 [95336, 'https://gmcsports.com/'],
 [95327, 'https://gmcsports.com/'],
 [95337, 'https://gmcsports.com/'],
 [99331, 'https://gmcsports.com/'],
 [95328, 'https://gmcsports.com/'],
 [95335, 'https://gmcsports.com/'],
 [95334, 'https://gmcsports.com/'],
 [95329, 'https://gmcsports.com/'],
 [95333, 'https://gmcsports.com/'],
 [99067, 'https://gmcsports.com/'],
 [93118, 'https://gmcsports.com/'],
 [93120, 'https://gmcsports.com/'],
 [92934, 'https://gmcsports.com/'],
 [92935, 'https://gmcsports.com/'],
 [97276, 'https://gmcsports.com/'],
 [93117, 'https://gmcsports.com/'],
 [93119, 'https://gmcsports.com/'],
 [96482, 'https://gmcsports.com/'],
 [96487, 'https://gmcsports.com/'],
 [96484, 'https://gmcsports.com/'],
 [96480, 'https://gmcsports.com/'],
 [96485, 'https://gmcsports.com/'],
 [96483, 'https://gmcsports.com/'],
 [96490, 'https://gmcsports.com/'],
 [96481, 'https://gmcsports.com/'],
 [96489, 'https://gmcsports.com/'],
 [96488, 'https://gmcsports.com/'],
 [95965, 'http://ggcl.gclsports.com/'],
 [93583, 'http://ggcl.gclsports.com/'],
 [95961, 'http://ggcl.gclsports.com/'],
 [93585, 'http://ggcl.gclsports.com/'],
 [95963, 'http://ggcl.gclsports.com/'],
 [95964, 'http://ggcl.gclsports.com/'],
 [101917, 'http://ggcl.gclsports.com/'],
 [95966, 'http://ggcl.gclsports.com/'],
 [101673, 'http://ggcl.gclsports.com/'],
 [95962, 'http://ggcl.gclsports.com/'],
 [94871, 'https://gmcsports.com/'],
 [94874, 'https://gmcsports.com/'],
 [94875, 'https://gmcsports.com/'],
 [101144, 'https://gmcsports.com/'],
 [94872, 'https://gmcsports.com/'],
 [94876, 'https://gmcsports.com/'],
 [94877, 'https://gmcsports.com/'],
 [95190, 'https://gmcsports.com/'],
 [95186, 'https://gmcsports.com/'],
 [95189, 'https://gmcsports.com/'],
 [101732, 'https://gmcsports.com/'],
 [95187, 'https://gmcsports.com/'],
 [95188, 'https://gmcsports.com/'],
 [95184, 'https://gmcsports.com/'],
 [95185, 'https://gmcsports.com/'],
 [94092, 'https://gmcsports.com/'],
 [94093, 'https://gmcsports.com/'],
 [94094, 'https://gmcsports.com/'],
 [94091, 'https://gmcsports.com/'],
 [94089, 'https://gmcsports.com/'],
 [94090, 'https://gmcsports.com/'],
 [94074, 'http://ggcl.gclsports.com/'],
 [93553, 'http://ggcl.gclsports.com/'],
 [101245, 'http://ggcl.gclsports.com/'],
 [93555, 'http://ggcl.gclsports.com/'],
 [93554, 'http://ggcl.gclsports.com/'],
 [93552, 'http://ggcl.gclsports.com/'],
 [101669, 'http://ggcl.gclsports.com/'],
 [93551, 'http://ggcl.gclsports.com/'],
 [101677, 'http://ggcl.gclsports.com/'],
 [94075, 'http://ggcl.gclsports.com/'],
 [93560, 'http://ggcl.gclsports.com/'],
 [96344, 'http://ggcl.gclsports.com/'],
 [93564, 'http://ggcl.gclsports.com/'],
 [93563, 'http://ggcl.gclsports.com/'],
 [95097, 'http://ggcl.gclsports.com/'],
 [93562, 'http://ggcl.gclsports.com/'],
 [93561, 'http://ggcl.gclsports.com/'],
 [101678, 'http://ggcl.gclsports.com/'],
 [93565, 'http://ggcl.gclsports.com/'],
 [100706, 'http://ggcl.gclsports.com/'],
 [93570, 'http://ggcl.gclsports.com/'],
 [93566, 'http://ggcl.gclsports.com/'],
 [98656, 'http://ggcl.gclsports.com/'],
 [93567, 'http://ggcl.gclsports.com/'],
 [93569, 'http://ggcl.gclsports.com/'],
 [93571, 'http://ggcl.gclsports.com/'],
 [93568, 'http://ggcl.gclsports.com/'],
 [99065, 'https://gmcsports.com/'],
 [95674, 'https://gmcsports.com/'],
 [95671, 'https://gmcsports.com/'],
 [95672, 'https://gmcsports.com/'],
 [95675, 'https://gmcsports.com/'],
 [95673, 'https://gmcsports.com/'],
 [95668, 'https://gmcsports.com/'],
 [95670, 'https://gmcsports.com/'],
 [95669, 'https://gmcsports.com/'],
 [101882, 'https://gmcsports.com/'],
 [95681, 'https://gmcsports.com/'],
 [95678, 'https://gmcsports.com/'],
 [95682, 'https://gmcsports.com/'],
 [95679, 'https://gmcsports.com/'],
 [95306, 'https://gmcsports.com/'],
 [95304, 'https://gmcsports.com/'],
 [95305, 'https://gmcsports.com/'],
 [95311, 'https://gmcsports.com/'],
 [101650, 'https://gmcsports.com/'],
 [95309, 'https://gmcsports.com/'],
 [95308, 'https://gmcsports.com/'],
 [95307, 'https://gmcsports.com/'],
 [96643, 'https://gmcsports.com/'],
 [98439, 'https://gmcsports.com/'],
 [96613, 'https://gmcsports.com/'],
 [96615, 'https://gmcsports.com/'],
 [96618, 'https://gmcsports.com/'],
 [96619, 'https://gmcsports.com/'],
 [96614, 'https://gmcsports.com/'],
 [96644, 'https://gmcsports.com/'],
 [96616, 'https://gmcsports.com/'],
 [95321, 'https://gmcsports.com/'],
 [101211, 'https://gmcsports.com/'],
 [95317, 'https://gmcsports.com/'],
 [95325, 'https://gmcsports.com/'],
 [95320, 'https://gmcsports.com/'],
 [95319, 'https://gmcsports.com/'],
 [95318, 'https://gmcsports.com/'],
 [95324, 'https://gmcsports.com/'],

In [8]:
df_player_ids.to_csv('player_ids.csv')

In [9]:
gamestats = []
random.shuffle(players_rows_list)
for p_id, dom in players_rows_list:
    page = requests.get(f'{dom}playerStats.aspx?player={p_id}', headers=headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    title = soup.find('title').string
    schoolH1 = soup.select('h1')
    player_name = soup.select('h2')[0].contents[0].text
    try:
        grade_lvl = soup.select('span[id*=GradeVal]')[0].contents[0].text
    except:
        grade_lvl = ''
    match_list = soup.select('a[id*=GamesRepeat]')
    # soup.select('a[id*=ContentPlaceHolder1]')
    schname = schoolH1[0].contents[0].text
    genname = schoolH1[0].contents[2].text
    if title == 'Girls Greater Catholic League':
        ind = 0
        genname = 'Girls'
    else:
        ind = 1
    schgen = [re.findall(pattern='(\w+.*)', string=schname)
              [0], re.findall(pattern='(\w+)', string=genname)[ind]]
    for i in range(len(match_list)):
        href = match_list[i]['href']
        match_id = re.findall(r'ID=(.*)', href)
        pins = match_list[i].find_previous().find_previous_siblings()[3].text
        location = match_list[i].find_previous().find_previous_siblings()[
            5].text
        opponent = match_list[i].find_previous().find_previous_siblings()[
            6].text
        row = [player_name, p_id, schgen[1], grade_lvl,
               schgen[0], match_id[0], location, opponent, pins, ]
        gamestats.append(row)
    time.sleep(.25)

In [135]:
df_gamestats = pd.DataFrame(gamestats, columns=[
                            'player_name', 'player_id', 'gender', 'grade_level', 'school', 'match_id', 'location', 'opponent', 'pins'])
# Count number of games in match
df_gamestats['num'] = df_gamestats['pins'].str.count(',') + 1
df_gamestats

,player_name,player_id,gender,grade_level,school,match_id,location,opponent,pins,num
0,Chuck Hammond,92929,Boys,Senior,Mason,31538,Eastern,Middletown,"213, 211",2
1,Chuck Hammond,92929,Boys,Senior,Mason,31539,Columbia,Hamilton,"232, 254",2
2,Chuck Hammond,92929,Boys,Senior,Mason,31540,Columbus,Kick-off,"212, 149, 164",3
3,Chuck Hammond,92929,Boys,Senior,Mason,31541,mason,Fairfield,"223, 211",2
4,Chuck Hammond,92929,Boys,Senior,Mason,31542,Western,Holiday Classic,"211, 233, 220",3
...,...,...,...,...,...,...,...,...,...,...
89528,Kayla Mineer,448590,Girls,Junior,Anderson,115866,Cherry Grove Lanes,West Clermont,"168, 135",2
89529,Kayla Mineer,448590,Girls,Junior,Anderson,115868,Cherry Grove Lanes,West Clermont,"124, 146",2
89530,Kayla Mineer,448590,Girls,Junior,Anderson,115874,Cherry Grove Lanes,Turpin,"112, 156",2
89531,Kayla Mineer,448590,Girls,Junior,Anderson,115877,Cherry Grove Lanes,Turpin,"125, 143",2
89532,Kayla Mineer,448590,Girls,Junior,Anderson,119802,Colerain,Sectionals,"139, 125, 130",3

In [34]:
df_gamestats.to_csv('gamestats.csv')

In [153]:
# Remove whitespace in pins column
df_gamestats['pins'] = df_gamestats['pins'].replace(' ', '', regex=True)
# Split pins to individual games and rename new columns
df_games_split = pd.DataFrame(df_gamestats['pins'].str.split(',').tolist(), )
df_games_split.rename(columns={i: "game"+str(i+1)
                      for i in range(len(df_games_split.columns))}, inplace=True)
# Convert to int and drop all-NaN rows
df_games_split = df_games_split.apply(pd.to_numeric, downcast='integer')
df_games_split.dropna(how='all', inplace=True)
# Calculate standard deviation, variance, median, mean, maximum, minimum, range, and total pinfall
df_games_split['std'] = np.std(df_games_split, axis=1).round(0)
df_games_split['var'] = np.var(df_games_split, axis=1).round(0)
df_games_split['med'] = np.nanmedian(df_games_split, axis=1).round(0)
df_games_split['avg'] = df_games_split.iloc[:, :-3].mean(axis=1).round(0)
df_games_split['max'] = df_games_split.iloc[:, :-4].max(axis=1)
df_games_split['min'] = df_games_split.iloc[:, :-5].min(axis=1)
df_games_split['rng'] = df_games_split['max'] - df_games_split['min']
df_games_split['tot'] = df_games_split.iloc[:, :-7].sum(axis=1)
# Re-convert to int
df_games_split = df_games_split.astype('Int16')
df_games_split

,game1,game2,game3,game4,game5,game6,std,var,med,avg,max,min,rng,tot
0,213,211,<NA>,<NA>,<NA>,<NA>,1,9894,212,212,213,211,2,424
1,232,254,<NA>,<NA>,<NA>,<NA>,11,12042,243,243,254,232,22,486
2,212,149,164,<NA>,<NA>,<NA>,27,4648,164,175,212,149,63,525
3,223,211,<NA>,<NA>,<NA>,<NA>,6,9918,217,217,223,211,12,434
4,211,233,220,<NA>,<NA>,<NA>,9,8515,220,221,233,211,22,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89528,168,135,<NA>,<NA>,<NA>,<NA>,16,4262,152,152,168,135,33,303
89529,124,146,<NA>,<NA>,<NA>,<NA>,11,3498,135,135,146,124,22,270
89530,112,156,<NA>,<NA>,<NA>,<NA>,22,3110,134,134,156,112,44,268
89531,125,143,<NA>,<NA>,<NA>,<NA>,9,3526,134,134,143,125,18,268
89532,139,125,130,<NA>,<NA>,<NA>,6,2970,130,131,139,125,14,394

In [154]:
df_gamestats_split = pd.concat([df_gamestats, df_games_split], axis=1)
df_gamestats_split

,player_name,player_id,gender,grade_level,school,match_id,location,opponent,pins,num,...,game5,game6,std,var,med,avg,max,min,rng,tot
0,Chuck Hammond,92929,Boys,Senior,Mason,31538,Eastern,Middletown,"213,211",2,...,<NA>,<NA>,1,9894,212,212,213,211,2,424
1,Chuck Hammond,92929,Boys,Senior,Mason,31539,Columbia,Hamilton,"232,254",2,...,<NA>,<NA>,11,12042,243,243,254,232,22,486
2,Chuck Hammond,92929,Boys,Senior,Mason,31540,Columbus,Kick-off,"212,149,164",3,...,<NA>,<NA>,27,4648,164,175,212,149,63,525
3,Chuck Hammond,92929,Boys,Senior,Mason,31541,mason,Fairfield,"223,211",2,...,<NA>,<NA>,6,9918,217,217,223,211,12,434
4,Chuck Hammond,92929,Boys,Senior,Mason,31542,Western,Holiday Classic,"211,233,220",3,...,<NA>,<NA>,9,8515,220,221,233,211,22,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89528,Kayla Mineer,448590,Girls,Junior,Anderson,115866,Cherry Grove Lanes,West Clermont,"168,135",2,...,<NA>,<NA>,16,4262,152,152,168,135,33,303
89529,Kayla Mineer,448590,Girls,Junior,Anderson,115868,Cherry Grove Lanes,West Clermont,"124,146",2,...,<NA>,<NA>,11,3498,135,135,146,124,22,270
89530,Kayla Mineer,448590,Girls,Junior,Anderson,115874,Cherry Grove Lanes,Turpin,"112,156",2,...,<NA>,<NA>,22,3110,134,134,156,112,44,268
89531,Kayla Mineer,448590,Girls,Junior,Anderson,115877,Cherry Grove Lanes,Turpin,"125,143",2,...,<NA>,<NA>,9,3526,134,134,143,125,18,268
89532,Kayla Mineer,448590,Girls,Junior,Anderson,119802,Colerain,Sectionals,"139,125,130",3,...,<NA>,<NA>,6,2970,130,131,139,125,14,394

In [155]:
df_gamestats_split.to_csv('gamestats_split.csv')

## Find school locations

Pulling locations from [OpenStreetMap](https://openstreetmap.org/copyright). Data is licensed under the [Open Data Commons Open Database License](https://opendatacommons.org/licenses/odbl/).

In [249]:
school_loc_rows = []
school_names = df_gamestats_split.school.unique()
for name in school_names:
    response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={name}+high,ohio&format=jsonv2').json()
    if len(response) >= 1:
        pass
    else:
        response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={name}+academy,ohio&format=jsonv2').json()
    # Some coordinates returned with ridiculous 15 decimal places; school locations don't need atomic-level precision, and even 5 is probably overkill
    lat = round(float(response[0]['lat']), 5)
    lon = round(float(response[0]['lon']), 5)
    display_name = response[0]['display_name']
    zip = re.search(pattern='(\d{5})', string=display_name).expand('\g<1>')
    school_loc_rows.append([name, lat, lon, display_name, zip])
    time.sleep(5)

In [527]:
df_school_locations = pd.DataFrame(school_loc_rows, columns=['name', 'latitude', 'longitude', 'display_name', 'zip'])
df_school_locations

,name,latitude,longitude,display_name,zip
0,Mason,39.35071,-84.30624,"William Mason High School, Lakeside Drive, Mas...",45040
1,Mount Notre Dame,39.22200,-84.43283,"Mount Notre Dame High School, East Benson Aven...",45215
2,Turpin,39.10551,-84.36641,"Turpin High School, Bartels Road, Anderson Tow...",45244
3,Winton Woods,39.28798,-84.52618,"Winton Woods High School, 1231, West Kemper Ro...",45240
4,Fairfield,39.33688,-84.51831,"Fairfield Senior High School, 8800, Holden Bou...",45014
5,Kings,39.35317,-84.25501,"Kings High School, McClelland Avenue, Deerfiel...",45040
6,Milford,39.17987,-84.24062,"Milford High School, Eagles Way, Miami Townshi...",45150
7,McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
8,Hamilton,39.42485,-84.58000,"Hamilton High School, Eaton Avenue, River View...",45013
9,Sycamore,39.26651,-84.34983,"Sycamore High School, Cincinnati By-Pass, Mont...",45249
10,Little Miami,39.35673,-84.15986,"Little Miami High School, US 22;SR 3, Hamilton...",45152
11,Valley View,39.65585,-84.39930,"Valley View High School, Farmersville Germanto...",45327
12,Clermont Northeastern,39.13043,-84.10194,"Clermont Northeastern High School, 5327, Newto...",45103
13,Withrow,39.14227,-84.45159,"Withrow University High School, 2488, Madison ...",45208
14,Middletown,39.52259,-84.34861,"Middletown High School, 601, North Breiel Boul...",45042
15,Walnut Hills,39.14058,-84.47954,"Walnut Hills High School, Victory Parkway, Eva...",45207
16,Oak Hills,39.14753,-84.64812,"Oak Hills High School, Ebenezer Road, Bridgeto...",45248
17,Glen Este,39.08544,-84.26341,"Glen Este High School West Building, Judy Lane...",45245
18,Felicity-Franklin,38.83702,-84.09871,"Felicityâ€“Franklin High School, 105, North Mark...",45120
19,Colerain,39.23331,-84.60244,"Colerain High School, Cheviot Road, Carrousel ...",45251
20,St. Ursula,39.12559,-84.48232,"Saint Ursula Academy, William Howard Taft Road...",45206
21,Mercy McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
22,Anderson,39.06898,-84.34776,"Anderson High School, Forest Road, Asbury, And...",45255
23,Ross,39.94489,-82.99699,"Ross, Midian & Breitmayer, 846, South High Str...",43206
24,Wilmington,39.44952,-83.83916,"Wilmington High School, Richardson Place, Wilm...",45177
25,Lakota West,39.33024,-84.43108,"Lakota West High School, West Chester Road, We...",45069
26,Western Brown,39.03407,-83.93750,"Western Brown High School, Campus Drive, Mount...",45154
27,Lakota East,39.37956,-84.36945,"Lakota East High School Campus, 6840, Lakota L...",45044
28,New Richmond,38.95342,-84.26913,"New Richmond High School, 1131, Bethel-New Ric...",45157
29,Northwest,39.27020,-84.57778,"Northwest High School, Pippin Road, Mount Heal...",45231
30,Loveland,39.28121,-84.27612,"Loveland High School, Rich Road, Chatham Woods...",45140
31,Ursuline Academy,39.24800,-84.37151,"Ursuline Academy, Twinbrook Court, Kensington ...",45242
32,East Clinton,39.41761,-83.65031,"East Clinton High School, Larrick Road, Lees C...",45169
33,West Clermont,39.07120,-84.24898,"West Clermont High School, Clough Pike, Union ...",45103
34,Blanchester,39.29882,-83.96941,"Blanchester High School, Cherry Street, Blanch...",45148
35,Monroe,39.98169,-84.48103,"Franklin-Monroe High School, Oakes Road, Pitsb...",45337
36,Mt. Healthy,39.24105,-84.55412,"Mount Healthy Junior/Senior High School, Adams...",45231
37,Williamsburg,39.05168,-84.06522,"Williamsburg High School, Batavia-Williamsburg...",45103
38,Seton,39.11288,-84.57840,"Seton High School, Academy Avenue, Saint Lawre...",45205
39,Princeton,39.27591,-84.44600,"Princeton High School, Lippelman Road, Norther...",45246
40,Franklin,39.99766,-83.00853,"Ohio Union, 1739, North High Street, Indianola...",43210
41,Harrison,39.25543,-84.76989,"William Henry Harrison High School, West Road,...",45002
42,Edgewood,39.46633,-84.49009,"Edgewood High School, Busenbark Road, Busenbar...",45011
43,Bethel-Tate,38.96461,-84.06561,"Bethel-Tate High School, Starling Road, Tate T...",45106
44,Mercy,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
45,Goshen,39.22810,-84.15684,"Goshen High School, Goshen Road, Goshen, Goshe...",45122
46,Carroll,39.74027,-84.11318,"Carroll High School, Spinning Road, Park Layne...",45431
47,Chaminade Julienne,39.75293,-84.19302,"Chaminade-Julienne Catholic High School, South...",45402
48,Batavia,39.07269,-84.12803,"Batavia High School, 1, Bulldog Place, Batavia...",45160
49,Badin,39.39455,-84.59284,"Father Stephen T. Badin High School, New Londo...",45013
50,Lebanon,39.46404,-84.17949,"Lebanon High School, Drake Road, Warren County...",45036
51,Alter,39.67995,-84.15164,"Archbishop Alter High School, Renwood Drive, K...",45429
52,Talawanda,39.48885,-84.73121,"Talawanda High School, University Park Drive, ...",45056
53,Georgetown,38.88089,-83.90122,"Georgetown Junior/Senior High School, 987, Mou...",45121
54,Clinton Massie,39.44668,-83.98503,"Clinton-Massie High School, Lebanon Road, Vand...",45113
55,McNicholas,39.08702,-84.37557,"Archbishop McNicholas High School, Beechmont A...",45255
56,Roger Bacon,39.16233,-84.50258,"Roger Bacon High School, Vine Street, Saint Be...",45217
57,Fenwick,39.49140,-84.29538,"Bishop Fenwick High School, SR 122, Hunter, Wa...",45005
58,Purcell Marian,39.13087,-84.47546,"Purcell Marian High School, Hackberry Street, ...",45207

In [528]:
# Franklin returned a rec center at a university for whatever reason; corrected this one manually for ease of use
df_school_locations.loc[40] = 'Franklin', 39.55327, -84.28708, 'Franklin High School, 750, East 4th Street, Franklin, Warren County, Ohio, 45005, United States', 45005
df_school_locations

,name,latitude,longitude,display_name,zip
0,Mason,39.35071,-84.30624,"William Mason High School, Lakeside Drive, Mas...",45040
1,Mount Notre Dame,39.22200,-84.43283,"Mount Notre Dame High School, East Benson Aven...",45215
2,Turpin,39.10551,-84.36641,"Turpin High School, Bartels Road, Anderson Tow...",45244
3,Winton Woods,39.28798,-84.52618,"Winton Woods High School, 1231, West Kemper Ro...",45240
4,Fairfield,39.33688,-84.51831,"Fairfield Senior High School, 8800, Holden Bou...",45014
5,Kings,39.35317,-84.25501,"Kings High School, McClelland Avenue, Deerfiel...",45040
6,Milford,39.17987,-84.24062,"Milford High School, Eagles Way, Miami Townshi...",45150
7,McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
8,Hamilton,39.42485,-84.58000,"Hamilton High School, Eaton Avenue, River View...",45013
9,Sycamore,39.26651,-84.34983,"Sycamore High School, Cincinnati By-Pass, Mont...",45249
10,Little Miami,39.35673,-84.15986,"Little Miami High School, US 22;SR 3, Hamilton...",45152
11,Valley View,39.65585,-84.39930,"Valley View High School, Farmersville Germanto...",45327
12,Clermont Northeastern,39.13043,-84.10194,"Clermont Northeastern High School, 5327, Newto...",45103
13,Withrow,39.14227,-84.45159,"Withrow University High School, 2488, Madison ...",45208
14,Middletown,39.52259,-84.34861,"Middletown High School, 601, North Breiel Boul...",45042
15,Walnut Hills,39.14058,-84.47954,"Walnut Hills High School, Victory Parkway, Eva...",45207
16,Oak Hills,39.14753,-84.64812,"Oak Hills High School, Ebenezer Road, Bridgeto...",45248
17,Glen Este,39.08544,-84.26341,"Glen Este High School West Building, Judy Lane...",45245
18,Felicity-Franklin,38.83702,-84.09871,"Felicityâ€“Franklin High School, 105, North Mark...",45120
19,Colerain,39.23331,-84.60244,"Colerain High School, Cheviot Road, Carrousel ...",45251
20,St. Ursula,39.12559,-84.48232,"Saint Ursula Academy, William Howard Taft Road...",45206
21,Mercy McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
22,Anderson,39.06898,-84.34776,"Anderson High School, Forest Road, Asbury, And...",45255
23,Ross,39.94489,-82.99699,"Ross, Midian & Breitmayer, 846, South High Str...",43206
24,Wilmington,39.44952,-83.83916,"Wilmington High School, Richardson Place, Wilm...",45177
25,Lakota West,39.33024,-84.43108,"Lakota West High School, West Chester Road, We...",45069
26,Western Brown,39.03407,-83.93750,"Western Brown High School, Campus Drive, Mount...",45154
27,Lakota East,39.37956,-84.36945,"Lakota East High School Campus, 6840, Lakota L...",45044
28,New Richmond,38.95342,-84.26913,"New Richmond High School, 1131, Bethel-New Ric...",45157
29,Northwest,39.27020,-84.57778,"Northwest High School, Pippin Road, Mount Heal...",45231
30,Loveland,39.28121,-84.27612,"Loveland High School, Rich Road, Chatham Woods...",45140
31,Ursuline Academy,39.24800,-84.37151,"Ursuline Academy, Twinbrook Court, Kensington ...",45242
32,East Clinton,39.41761,-83.65031,"East Clinton High School, Larrick Road, Lees C...",45169
33,West Clermont,39.07120,-84.24898,"West Clermont High School, Clough Pike, Union ...",45103
34,Blanchester,39.29882,-83.96941,"Blanchester High School, Cherry Street, Blanch...",45148
35,Monroe,39.98169,-84.48103,"Franklin-Monroe High School, Oakes Road, Pitsb...",45337
36,Mt. Healthy,39.24105,-84.55412,"Mount Healthy Junior/Senior High School, Adams...",45231
37,Williamsburg,39.05168,-84.06522,"Williamsburg High School, Batavia-Williamsburg...",45103
38,Seton,39.11288,-84.57840,"Seton High School, Academy Avenue, Saint Lawre...",45205
39,Princeton,39.27591,-84.44600,"Princeton High School, Lippelman Road, Norther...",45246
40,Franklin,39.55327,-84.28708,"Franklin High School, 750, East 4th Street, Fr...",45005
41,Harrison,39.25543,-84.76989,"William Henry Harrison High School, West Road,...",45002
42,Edgewood,39.46633,-84.49009,"Edgewood High School, Busenbark Road, Busenbar...",45011
43,Bethel-Tate,38.96461,-84.06561,"Bethel-Tate High School, Starling Road, Tate T...",45106
44,Mercy,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224
45,Goshen,39.22810,-84.15684,"Goshen High School, Goshen Road, Goshen, Goshe...",45122
46,Carroll,39.74027,-84.11318,"Carroll High School, Spinning Road, Park Layne...",45431
47,Chaminade Julienne,39.75293,-84.19302,"Chaminade-Julienne Catholic High School, South...",45402
48,Batavia,39.07269,-84.12803,"Batavia High School, 1, Bulldog Place, Batavia...",45160
49,Badin,39.39455,-84.59284,"Father Stephen T. Badin High School, New Londo...",45013
50,Lebanon,39.46404,-84.17949,"Lebanon High School, Drake Road, Warren County...",45036
51,Alter,39.67995,-84.15164,"Archbishop Alter High School, Renwood Drive, K...",45429
52,Talawanda,39.48885,-84.73121,"Talawanda High School, University Park Drive, ...",45056
53,Georgetown,38.88089,-83.90122,"Georgetown Junior/Senior High School, 987, Mou...",45121
54,Clinton Massie,39.44668,-83.98503,"Clinton-Massie High School, Lebanon Road, Vand...",45113
55,McNicholas,39.08702,-84.37557,"Archbishop McNicholas High School, Beechmont A...",45255
56,Roger Bacon,39.16233,-84.50258,"Roger Bacon High School, Vine Street, Saint Be...",45217
57,Fenwick,39.49140,-84.29538,"Bishop Fenwick High School, SR 122, Hunter, Wa...",45005
58,Purcell Marian,39.13087,-84.47546,"Purcell Marian High School, Hackberry Street, ...",45207

In [252]:
df_school_locations.to_csv('school_locations.csv')

# Find median income data

In [255]:
median_raw = requests.get('https://api.census.gov/data/2020/acs/acs5/subject?get=NAME,S1903_C03_001E&for=zip%20code%20tabulation%20area:*').content

In [287]:
# Request returned as bytes
df_median_income = pd.read_csv(BytesIO(median_raw))
df_median_income

             [["NAME"  S1903_C03_001E zip code tabulation area]  Unnamed: 3
0      ["ZCTA5 29590"           30985                    29590]         NaN
1      ["ZCTA5 93306"           54450                    93306]         NaN
2      ["ZCTA5 93660"           39625                    93660]         NaN
3      ["ZCTA5 93110"           93264                    93110]         NaN
4      ["ZCTA5 93212"           42983                    93212]         NaN
...               ...             ...                       ...         ...
33115  ["ZCTA5 16623"           51667                    16623]         NaN
33116  ["ZCTA5 16627"           45000                    16627]         NaN
33117  ["ZCTA5 16634"           51500                    16634]         NaN
33118  ["ZCTA5 16640"           55982                    16640]         NaN
33119  ["ZCTA5 17062"           73036                   17062]]         NaN

[33120 rows x 4 columns]

In [289]:
# Fix messy conversion to DataFrame
df_median_income.drop(df_median_income.columns[[0, 3]], axis=1, inplace=True)
df_median_income.set_axis(['zip_code', 'median_income'], axis=1, inplace=True)
df_median_income['median_income'] = df_median_income['median_income'].apply(lambda x: x.replace(']',''))
df_median_income = df_median_income.astype('int32')
df_median_income

       zip_code  median_income
0         30985          29590
1         54450          93306
2         39625          93660
3         93264          93110
4         42983          93212
...         ...            ...
33115     51667          16623
33116     45000          16627
33117     51500          16634
33118     55982          16640
33119     73036          17062

[33120 rows x 2 columns]

In [294]:
df_median_income.to_csv('median_income_by_zip.csv')

# Find bowling alley locations

In [361]:
page = requests.get('https://www.kidsbowlfree.com/all_centers.php')
soup = BeautifulSoup(page.content, 'html.parser')

In [364]:
alley_as = soup.find_all('a', {'title': re.compile('OH|KY|IN')})

In [366]:
alley_ids = []
for i in range(len(alley_as)):
    match = re.findall(r'id=(\d*)', str(alley_as[i]))[0]
    alley_ids.append(match)

In [430]:
alley_rows_list = []
for i in range(len(alley_ids)):
    page = requests.get(f'https://www.kidsbowlfree.com/center.php?alley_id={alley_ids[i]}')
    soup = BeautifulSoup(page.content, 'html.parser')
    name = soup.find_all('h1')[0].text.rstrip()
    address = soup.find_all('h4')[0].text.split('\n')
    street = address[0]
    rest = address[1].split(',')
    city = rest[0].lstrip()
    state = rest[1].lstrip()
    zip = rest[2].lstrip()[:5]
    try:
        response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={street}+{state}&format=jsonv2').json()
        if len(response) >=1:
            lat = round(float(response[0]['lat']), 5)
            lon = round(float(response[0]['lon']), 5)
        else:
            response = requests.get(f'https://nominatim.openstreetmap.org/search.php?q={name}+{state}&format=jsonv2').json()
            if len(response) >=1:
                lat = round(float(response[0]['lat']), 5)
                lon = round(float(response[0]['lon']), 5)
            else:
                lat = 0
                lon = 0
    except ValueError:  
        print(f'Decoding JSON failed for {name} {street} {state}')
    row =[name, street, city, state, zip, lat, lon]
    alley_rows_list.append(row)
    time.sleep(15)

Decoding JSON failed for Stones Lanes 3746 Montgomery Road #2 OH

In [612]:
df_alleys = pd.DataFrame(alley_rows_list, columns=['name', 'street_address', 'city', 'state', 'zip', 'latitude', 'longitude'])
df_alleys.loc[df_alleys['name'] == 'Stones Lanes', ['latitude', 'longitude']] = 39.14765, -84.46630
df_alleys

,name,street_address,city,state,zip,latitude,longitude
0,Beech Grove Bowl,95 N 2nd Ave,Beech Grove,IN,46107,37.97834,-87.57610
1,Classic Bowling Lanes,1421 N Willis Dr,Bloomington,IN,47404,39.18003,-86.54533
2,IMU Bowling & Billiards,900 E. Seventh St.,Bloomington,IN,47405,39.22844,-87.04407
3,Blackiston Bowl,1516 Blackiston Mill Rd,Clarksville,IN,47129,38.31385,-85.77146
4,Clarksville Strike & Spare,900 Eastern Blvd,Clarksville,IN,47129,38.30337,-85.76479
...,...,...,...,...,...,...,...
112,Le Ella Lanes,1428 US 22 NW,Washington Court House,OH,43160,0.00000,0.00000
113,Le Ella Lanes of Wellston,15 N Park Ave,Wellston,OH,45692,40.92201,-81.10414
114,Dynasty Lanes,3105 S.R. 103 East,Willard,OH,44890,0.00000,0.00000
115,Royal Z Lanes,2667 St Rt 22&3,Wilmington,OH,45177,48.03349,-71.29568
116,Camelot Lanes,628 Boardman Canfield Rd,Youngstown,OH,44512,41.02588,-80.68038

In [613]:
df_alleys.to_csv('alley_addresses.csv')

In [614]:
df_alleys = df_alleys.loc[((df_alleys['latitude'].between(38.75, 40.5))&(df_alleys['longitude'].between(-85.5, -83.75))),:]
df_alleys = df_alleys.drop_duplicates().reset_index(drop=True)
df_alleys

,name,street_address,city,state,zip,latitude,longitude
0,Hi-Way Lanes,400 N. Morton,Franklin,IN,46131,39.83722,-84.89520
1,Richmond 40 Bowl,75 S 37th St,Richmond,IN,47374,39.82520,-84.85065
2,Southern Lanes,7634 Alexandria Pike,Alexandria,KY,41001,38.97744,-84.39221
3,Strike & Spare Erlanger,510 Commonwealth Ave,Erlanger,KY,41018,39.02066,-84.60484
4,La Ru Bowling Lanes,2443 Alexandria Pike,Highland Heights,KY,41076,39.03854,-84.45038
5,Luray Lanes,647 E Main St,Ashland,OH,44805,39.92387,-83.79960
6,Spevock's Nautical Lanes,184 Miller Road,Avon Lake,OH,44012,39.45768,-84.20912
7,Batavia Bowl,1991 James E. Sauls Drive,Batavia,OH,45103,39.07331,-84.11340
8,Al-Mar Lanes,1010 North Main Street,Bowling Green,OH,43402,39.77380,-84.19848
9,Poelking Lanes South (Dayton Mall),8871 Kingsridge,Centerville,OH,45458,39.63059,-84.21759
10,Crossgate Lanes,4230 Hunt Road,Cincinnati,OH,45242,39.22706,-84.39351
11,Eastgate Lanes,1362 OH-28,Loveland,OH,45140,39.66863,-84.16147
12,Stones Lanes,3746 Montgomery Road #2,Cincinnati,OH,45212,39.14765,-84.46630
13,Strike & Spare Western Bowl,6383 Glenway Ave.,Cincinnati,OH,45211,39.14557,-84.62448
14,Poelking Lanes - Dayton,1403 Wilmington Ave,Dayton,OH,45420,39.72755,-84.15497
15,Gilmore Lanes,5595 Dixie Highway,Fairfield,OH,45014,39.33176,-84.52038
16,Northwest Lanes,1765 Happy Valley Dr.,Fairfield,OH,45014,39.31472,-84.55989
17,Poelking-Woodman Lanes,3200 Woodman Dr.,Kettering,OH,45420,39.69807,-84.12360
18,Scene 75-Cincinnati,876 State Route 28,Milford,OH,45150,39.19022,-84.25687
19,Community Lanes,356 E. Third Street,Minster,OH,45380,39.68352,-83.92273
20,Break Point Entertainment,8433 N County Road 25A,Piqua,OH,45356,40.16130,-84.23701
21,Northridge Lanes,1333 Moorefield,Springfield,OH,45503,39.99559,-83.77618
22,Victory Lanes,1906 Commerce Circle,Springfield,OH,45504,39.93731,-83.84328

In [615]:
df_alleys.to_csv('alley_addresses_bounded.csv')

In [565]:
x = (radians(df_school_locations.loc[0]['longitude']) - radians(df_alleys.loc[7]['longitude'])) * cos(0.5 * (radians(df_school_locations.loc[0]['latitude']) + radians(df_alleys.loc[7]['latitude'])))
y = (radians(df_school_locations.loc[0]['latitude']) - radians(df_alleys.loc[7]['latitude']))
6371 * sqrt(x*x + y*y)

35.03531854512044

In [616]:
alley_list = df_alleys.values.tolist()

In [617]:
df_dist = df_school_locations.copy()

In [618]:
for i in range(len(alley_list)):
    x1 = df_dist['longitude'].apply(radians)
    y1 = df_dist['latitude'].apply(radians)
    x2 = radians(alley_list[i][6])
    y2 = radians(alley_list[i][5])
    x = ((x1 - x2) * np.cos(0.5 * (y1 + y2)))
    y = (y1 - y2)
    df_dist[f'{alley_list[i][0]}'] = round((3960 * np.sqrt((x*x) + (y*y))), 2)

In [619]:
df_dist

,name,latitude,longitude,display_name,zip,Hi-Way Lanes,Richmond 40 Bowl,Southern Lanes,Strike & Spare Erlanger,La Ru Bowling Lanes,...,Strike & Spare Western Bowl,Poelking Lanes - Dayton,Gilmore Lanes,Northwest Lanes,Poelking-Woodman Lanes,Scene 75-Cincinnati,Community Lanes,Break Point Entertainment,Northridge Lanes,Victory Lanes
0,Mason,39.35071,-84.30624,"William Mason High School, Lakeside Drive, Mas...",45040,45.98,43.78,26.21,27.86,22.92,...,22.16,27.26,11.52,13.79,25.91,11.40,30.78,56.14,52.74,47.44
1,Mount Notre Dame,39.22200,-84.43283,"Mount Notre Dame High School, East Benson Aven...",45215,49.15,47.27,17.04,16.69,12.71,...,11.55,37.96,8.92,9.34,36.81,9.68,41.94,65.75,63.88,58.57
2,Turpin,39.10551,-84.36641,"Turpin High School, Bartels Road, Anderson Tow...",45244,57.91,56.05,8.96,14.08,6.46,...,14.11,44.45,17.68,17.79,42.96,8.29,46.45,73.30,69.09,63.90
3,Winton Woods,39.28798,-84.52618,"Winton Woods High School, 1231, West Kemper Ro...",45240,42.75,40.96,22.63,18.95,17.71,...,11.16,36.26,3.04,2.58,35.56,15.92,42.23,62.29,63.13,57.76
4,Fairfield,39.33688,-84.51831,"Fairfield Senior High School, 8800, Holden Bou...",45014,39.99,38.11,25.75,22.34,20.94,...,14.39,33.23,0.37,2.70,32.65,17.28,39.78,58.91,60.26,54.89
5,Kings,39.35317,-84.25501,"Kings High School, McClelland Avenue, Deerfiel...",45040,47.77,45.51,26.99,29.65,24.13,...,24.43,26.42,14.26,16.51,24.85,11.26,28.90,55.86,51.19,45.94
6,Milford,39.17987,-84.24062,"Milford High School, Eagles Way, Miami Townshi...",45150,57.29,55.21,16.18,22.42,14.90,...,20.71,38.13,18.29,19.47,36.36,1.13,38.73,67.83,61.57,56.47
7,McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224,47.63,45.99,17.67,12.74,12.48,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
8,Hamilton,39.42485,-84.58000,"Hamilton High School, Eaton Avenue, River View...",45013,33.07,31.20,32.52,27.97,27.59,...,19.45,30.83,7.18,7.69,30.79,23.70,39.32,54.06,58.16,52.82
9,Sycamore,39.26651,-84.34983,"Sycamore High School, Cincinnati By-Pass, Mont...",45249,49.00,46.94,20.11,21.81,16.65,...,16.92,33.52,10.18,11.72,32.18,7.25,36.74,62.13,58.92,53.64
10,Little Miami,39.35673,-84.15986,"Little Miami High School, US 22;SR 3, Hamilton...",45152,51.35,49.01,29.02,33.28,26.94,...,28.83,25.63,19.35,21.58,23.67,12.62,25.88,55.76,48.64,43.52
11,Valley View,39.65585,-84.39930,"Valley View High School, Farmersville Germanto...",45327,29.18,26.69,46.89,45.26,42.75,...,37.26,13.91,23.31,25.09,14.95,33.07,25.43,35.98,40.56,35.36
12,Clermont Northeastern,39.13043,-84.10194,"Clermont Northeastern High School, 5327, Newto...",45103,64.63,62.46,18.83,28.03,19.74,...,28.03,41.37,26.37,27.63,39.25,9.27,39.41,71.61,62.26,57.45
13,Withrow,39.14227,-84.45159,"Withrow University High School, 2488, Madison ...",45208,53.54,51.78,11.83,11.76,7.17,...,9.27,43.44,13.60,13.25,42.22,10.95,46.87,71.35,69.09,63.80
14,Middletown,39.52259,-84.34861,"Middletown High School, 601, North Breiel Boul...",45042,36.31,33.92,37.75,37.30,33.90,...,29.94,17.52,16.06,18.27,17.05,23.49,25.26,44.54,44.65,39.28
15,Walnut Hills,39.14058,-84.47954,"Walnut Hills High School, Victory Parkway, Eva...",45207,53.01,51.29,12.21,10.67,7.22,...,7.78,44.11,13.39,12.78,42.96,12.42,47.88,71.72,69.97,64.67
16,Oak Hills,39.14753,-84.64812,"Oak Hills High School, Ebenezer Road, Bridgeto...",45248,49.46,48.07,18.08,9.07,13.01,...,1.27,47.96,14.45,12.48,47.24,21.17,53.60,73.40,74.79,69.42
17,Glen Este,39.08544,-84.26341,"Glen Este High School West Building, Judy Lane...",45245,61.94,59.97,10.18,18.86,10.54,...,19.80,44.76,21.89,22.43,43.00,7.25,45.17,74.37,68.05,62.99
18,Felicity-Franklin,38.83702,-84.09871,"Felicityâ€“Franklin High School, 105, North Mark...",45120,81.19,79.25,18.53,30.03,23.48,...,35.39,61.62,41.00,41.26,59.53,25.85,59.26,91.82,81.91,77.26
19,Colerain,39.23331,-84.60244,"Colerain High School, Cheviot Road, Carrousel ...",45251,44.56,43.00,20.97,14.70,15.74,...,6.18,41.67,8.10,6.07,41.04,18.74,47.79,67.02,68.64,63.27
20,St. Ursula,39.12559,-84.48232,"Saint Ursula Academy, William Howard Taft Road...",45206,53.89,52.19,11.32,9.79,6.26,...,7.75,45.13,14.39,13.72,43.96,12.88,48.79,72.76,70.93,65.63
21,Mercy McAuley,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224,47.63,45.99,17.67,12.74,12.48,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
22,Anderson,39.06898,-84.34776,"Anderson High School, Forest Road, Asbury, And...",45255,60.60,58.75,6.76,14.20,5.90,...,15.76,46.67,20.38,20.43,45.10,9.69,48.16,75.73,70.92,65.77
23,Ross,39.94489,-82.99699,"Ross, Midian & Breitmayer, 846, South High Str...",43206,100.94,98.65,100.07,106.94,99.67,...,102.84,63.27,91.49,93.91,62.19,85.01,52.36,67.29,41.42,44.85
24,Wilmington,39.44952,-83.83916,"Wilmington High School, Richardson Place, Wilm...",45177,62.26,59.77,44.06,50.58,43.33,...,46.96,25.54,37.29,39.61,22.91,28.64,16.77,53.54,37.89,33.71
25,Lakota West,39.33024,-84.43108,"Lakota West High School, West Chester Road, We...",45069,42.88,40.86,24.47,23.33,20.19,...,16.43,31.16,4.78,6.97,30.25,13.44,36.48,58.36,57.70,52.34
26,Western Brown,39.03407,-83.93750,"Western Brown High School, Campus Drive, Mount...",45154,75.46,73.25,24.73,35.84,27.54,...,37.65,49.32,37.40,38.58,46.96,20.24,44.89,79.52,67.01,62.63
27,Lakota East,39.37956,-84.36945,"Lakota East High School Campus, 6840, Lakota L...",45044,42.24,40.07,27.82,27.83,23.96,...,21.16,26.63,8.72,11.12,25.62,14.41,31.76,54.49,52.99,47.64
28,New Richmond,38.95342,-84.26913,"New Richmond High School, 1131, Bethel-New Ric...",45157,69.64,67.79,6.82,18.62,11.38,...,23.24,53.85,29.41,29.44,52.05,16.38,53.75,83.50,76.68,71.70
29,Northwest,39.27020,-84.57778,"Northwest High School, Pippin Road, Mount Heal...",45231,42.68,41.02,22.55,17.31,17.41,...,8.97,38.83,5.25,3.22,38.23,18.05,45.14,64.20,65.83,60.46
30,Loveland,39.28121,-84.27612,"Loveland High School, Rich Road, Chatham Woods...",45140,50.65,48.49,21.90,25.19,19.20,...,20.88,31.52,13.52,15.35,29.94,6.37,33.59,60.86,56.09,50.87
31,Ursuline Academy,39.24800,-84.37151,"Ursuline Academy, Twinbrook Court, Kensington ...",45242,49.37,47.37,18.73,20.08,15.08,...,15.29,35.10,9.85,11.08,33.80,7.32,38.46,63.53,60.62,55.33
32,East Clinton,39.41761,-83.65031,"East Clinton High School, Larrick Road, Lees C...",45169,72.34,69.84,50.05,58.01,50.21,...,55.40,34.38,46.86,49.12,31.81,36.05,23.42,60.11,40.50,37.36
33,West Clermont,39.07120,-84.24898,"West Clermont High School, Clough Pike, Union ...",45103,63.18,61.21,10.06,19.42,11.04,...,20.78,45.64,23.14,23.68,43.84,8.24,45.77,75.34,68.68,63.65
34,Blanchester,39.29882,-83.96941,"Blanchester High School, Cherry Street, Blanch...",45148,61.79,59.40,31.73,39.11,31.43,...,36.64,31.24,29.55,31.60,28.79,17.12,26.70,61.28,49.24,44.64
35,Monroe,39.98169,-84.48103,"Franklin-Monroe High School, Oakes Road, Pitsb...",45337,24.12,22.38,69.57,66.75,65.21,...,58.29,24.65,44.97,46.29,27.28,55.99,36.09,17.91,37.34,33.92
36,Mt. Healthy,39.24105,-84.55412,"Mount Healthy Junior/Senior High School, Adams...",45231,45.04,43.36,20.18,15.47,15.06,...,7.60,39.80,6.52,5.10,39.06,16.30,45.50,65.80,66.60,61.23
37,Williamsburg,39.05168,-84.06522,"Williamsburg High School, Batavia-Williamsburg...",45103,70.07,67.94,18.29,29.05,20.69,...,30.69,46.96,31.13,32.14,44.78,14.05,44.33,77.24,67.03,62.34
38,Seton,39.11288,-84.57840,"Seton High School, Academy Avenue, Saint Lawre...",45205,52.84,51.33,13.69,6.53,8.58,...,3.35,48.12,15.44,13.99,47.18,18.04,52.74,74.71,74.50,69.16
39,Princeton,39.27591,-84.44600,"Princeton High School, Lippelman Road, Norther...",45246,45.59,43.66,20.83,19.59,16.41,...,13.13,34.86,5.54,6.66,33.87,11.73,39.66,62.19,61.20,55.85
40,Franklin,39.55327,-84.28708,"Franklin High School, 750, East 4th Street, Fr...",45005,37.83,35.38,40.19,40.55,36.63,...,33.45,13.95,19.73,22.00,13.26,25.14,21.39,42.11,40.88,35.51
41,Harrison,39.25543,-84.76989,"William Henry Harrison High School, West Road,...",45002,40.76,39.61,27.92,18.48,22.76,...,10.88,46.27,14.35,11.96,46.09,27.84,54.02,68.72,73.59,68.24
42,Edgewood,39.46633,-84.49009,"Edgewood High School, Busenbark Road, Busenbar...",45011,33.49,31.36,34.19,31.41,29.64,...,23.31,25.39,9.44,11.12,25.25,22.80,33.75,49.88,52.71,47.36
43,Bethel-Tate,38.96461,-84.06561,"Bethel-Tate High School, Starling Road, Tate T...",45106,74.84,72.77,17.57,29.22,21.29,...,32.50,52.95,35.19,35.88,50.79,18.67,50.27,83.21,72.91,68.27
44,Mercy,39.20058,-84.55312,"Mercy McAuley High School, 6000, Oakwood Avenu...",45224,47.63,45.99,17.67,12.74,12.48,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
45,Goshen,39.22810,-84.15684,"Goshen High School, Goshen Road, Goshen, Goshe...",45122,57.63,55.42,21.44,27.97,20.48,...,25.69,34.52,20.73,22.38,32.53,5.96,33.87,64.64,56.79,51.78
46,Carroll,39.74027,-84.11318,"Carroll High School, Spinning Road, Park Layne...",45431,42.07,39.61,54.79,56.25,51.74,...,49.34,2.39,35.61,37.84,2.97,38.78,10.86,29.83,25.12,19.76
47,Chaminade Julienne,39.75293,-84.19302,"Chaminade-Julienne Catholic High School, South...",45402,37.74,35.28,54.64,55.19,51.25,...,47.88,2.68,33.94,36.05,5.29,39.04,15.15,28.32,27.75,22.51
48,Batavia,39.07269,-84.12803,"Batavia High School, 1, Bulldog Place, Batavia...",45160,66.84,64.75,15.64,25.85,17.46,...,27.10,45.28,27.61,28.55,43.22,10.66,43.62,75.46,66.49,61.66
49,Badin,39.39455,-84.59284,"Father Stephen T. Badin High School, New Londo...",45013,34.57,32.78,30.77,25.85,25.76,...,17.29,32.77,5.82,5.79,32.64,22.86,40.92,56.26,60.10,54.75
50,Lebanon,39.46404,-84.17949,"Lebanon High School, Drake Road, Warren County...",45036,46.00,43.58,35.51,38.18,32.79,...,32.42,18.26,20.37,22.79,16.45,19.37,20.43,48.29,42.54,37.28
51,Alter,39.67995,-84.15164,"Archbishop Alter High School, Renwood Drive, K...",45429,40.97,38.48,50.23,51.60,47.12,...,44.74,3.29,31.08,33.34,1.95,34.31,12.18,33.57,29.55,24.17
52,Talawanda,39.48885,-84.73121,"Talawanda High School, University Park Drive, ...",45056,25.61,24.10,39.73,33.06,34.56,...,24.40,34.84,15.64,15.12,35.44,32.69,45.12,53.37,61.67,56.47
53,Georgetown,38.88089,-83.90122,"Georgetown Junior/Senior High School, 987, Mou...",45121,84.80,82.67,27.23,39.03,31.46,...,42.93,60.07,45.54,46.34,57.72,28.66,55.49,90.29,77.33,73.08
54,Clinton Massie,39.44668,-83.98503,"Clinton-Massie High School, Lebanon Road, Vand...",45113,55.45,52.98,39.08,44.36,37.63,...,40.04,21.42,29.68,32.04,18.88,22.92,16.70,51.17,39.53,34.74
55,McNicholas,39.08702,-84.37557,"Archbishop McNicholas High School, Beechmont A...",45255,58.80,56.97,7.63,13.13,5.23,...,13.95,45.81,18.61,18.58,44.33,9.56,47.80,74.61,70.46,65.26
56,Roger Bacon,39.16233,-84.50258,"Roger Bacon High School, Vine Street, Saint Be...",45217,51.13,49.43,14.08,11.22,9.00,...,6.64,43.25,11.75,10.97,42.19,13.31,47.50,70.47,69.38,64.06
57,Fenwick,39.49140,-84.29538,"Bishop Fenwick High School, SR 122, Hunter, Wa...",45005,39.87,37.49,35.90,36.51,32.38,...,29.68,17.95,16.31,18.67,16.96,20.92,23.88,46.40,44.45,39.08
58,Purcell Marian,39.13087,-84.47546,"Purcell Marian High School, Hackberry Street, ...",45207,53.71,52.00,11.51,10.31,6.52,...,8.05,44.65,14.09,13.49,43.47,12.41,48.27,72.34,70.43,65.13

In [620]:
df_dist[df_dist.columns[5:]]

,Hi-Way Lanes,Richmond 40 Bowl,Southern Lanes,Strike & Spare Erlanger,La Ru Bowling Lanes,Luray Lanes,Spevock's Nautical Lanes,Batavia Bowl,Al-Mar Lanes,Poelking Lanes South (Dayton Mall),...,Strike & Spare Western Bowl,Poelking Lanes - Dayton,Gilmore Lanes,Northwest Lanes,Poelking-Woodman Lanes,Scene 75-Cincinnati,Community Lanes,Break Point Entertainment,Northridge Lanes,Victory Lanes
0,45.98,43.78,26.21,27.86,22.92,47.92,9.03,21.78,29.80,19.91,...,22.16,27.26,11.52,13.79,25.91,11.40,30.78,56.14,52.74,47.44
1,49.15,47.27,17.04,16.69,12.71,59.09,20.21,19.97,40.13,30.49,...,11.55,37.96,8.92,9.34,36.81,9.68,41.94,65.75,63.88,58.57
2,57.91,56.05,8.96,14.08,6.46,64.13,25.75,13.75,47.05,37.15,...,14.11,44.45,17.68,17.79,42.96,8.29,46.45,73.30,69.09,63.90
3,42.75,40.96,22.63,18.95,17.71,58.55,20.60,26.63,37.85,28.84,...,11.16,36.26,3.04,2.58,35.56,15.92,42.23,62.29,63.13,57.76
4,39.99,38.11,25.75,22.34,20.94,55.76,18.50,28.32,34.68,25.87,...,14.39,33.23,0.37,2.70,32.65,17.28,39.78,58.91,60.26,54.89
5,47.77,45.51,26.99,29.65,24.13,46.30,7.63,20.78,29.23,19.28,...,24.43,26.42,14.26,16.51,24.85,11.26,28.90,55.86,51.19,45.94
6,57.29,55.21,16.18,22.42,14.90,56.54,19.27,10.04,41.11,31.18,...,20.71,38.13,18.29,19.47,36.36,1.13,38.73,67.83,61.57,56.47
7,47.63,45.99,17.67,12.74,12.48,64.12,25.57,25.16,43.90,34.70,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
8,33.07,31.20,32.52,27.97,27.59,53.97,19.93,34.84,31.54,23.99,...,19.45,30.83,7.18,7.69,30.79,23.70,39.32,54.06,58.16,52.82
9,49.00,46.94,20.11,21.81,16.65,54.06,15.20,18.41,35.98,26.13,...,16.92,33.52,10.18,11.72,32.18,7.25,36.74,62.13,58.92,53.64
10,51.35,49.01,29.02,33.28,26.94,43.64,7.46,19.75,28.90,19.18,...,28.83,25.63,19.35,21.58,23.67,12.62,25.88,55.76,48.64,43.52
11,29.18,26.69,46.89,45.26,42.75,36.84,17.04,43.06,13.43,9.83,...,37.26,13.91,23.31,25.09,14.95,33.07,25.43,35.98,40.56,35.36
12,64.63,62.46,18.83,28.03,19.74,57.16,23.33,4.00,44.76,35.12,...,28.03,41.37,26.37,27.63,39.25,9.27,39.41,71.61,62.26,57.45
13,53.54,51.78,11.83,11.76,7.17,64.23,25.37,18.75,45.69,35.99,...,9.27,43.44,13.60,13.25,42.22,10.95,46.87,71.35,69.09,63.80
14,36.31,33.92,37.75,37.30,33.90,40.26,8.69,33.50,19.11,10.22,...,29.94,17.52,16.06,18.27,17.05,23.49,25.26,44.54,44.65,39.28
15,53.01,51.29,12.21,10.67,7.22,65.15,26.26,20.18,46.26,36.64,...,7.78,44.11,13.39,12.78,42.96,12.42,47.88,71.72,69.97,64.67
16,49.46,48.07,18.08,9.07,13.01,70.18,31.79,29.13,49.49,40.54,...,1.27,47.96,14.45,12.48,47.24,21.17,53.60,73.40,74.79,69.42
17,61.94,59.97,10.18,18.86,10.54,63.01,25.89,8.09,47.70,37.76,...,19.80,44.76,21.89,22.43,43.00,7.25,45.17,74.37,68.05,62.99
18,81.19,79.25,18.53,30.03,23.48,76.80,43.30,16.35,64.97,55.22,...,35.39,61.62,41.00,41.26,59.53,25.85,59.26,91.82,81.91,77.26
19,44.56,43.00,20.97,14.70,15.74,64.09,26.12,28.45,43.12,34.29,...,6.18,41.67,8.10,6.07,41.04,18.74,47.79,67.02,68.64,63.27
20,53.89,52.19,11.32,9.79,6.26,66.10,27.21,20.11,47.29,37.66,...,7.75,45.13,14.39,13.72,43.96,12.88,48.79,72.76,70.93,65.63
21,47.63,45.99,17.67,12.74,12.48,64.12,25.57,25.16,43.90,34.70,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
22,60.60,58.75,6.76,14.20,5.90,65.92,27.87,12.58,49.36,39.43,...,15.76,46.67,20.38,20.43,45.10,9.69,48.16,75.73,70.92,65.77
23,100.94,98.65,100.07,106.94,99.67,42.56,72.72,84.69,64.83,68.37,...,102.84,63.27,91.49,93.91,62.19,85.01,52.36,67.29,41.42,44.85
24,62.26,59.77,44.06,50.58,43.33,32.85,19.75,29.86,29.47,23.74,...,46.96,25.54,37.29,39.61,22.91,28.64,16.77,53.54,37.89,33.71
25,42.88,40.86,24.47,23.33,20.19,53.04,14.77,24.59,33.07,23.68,...,16.43,31.16,4.78,6.97,30.25,13.44,36.48,58.36,57.70,52.34
26,75.46,73.25,24.73,35.84,27.54,61.94,32.69,9.82,52.99,43.86,...,37.65,49.32,37.40,38.58,46.96,20.24,44.89,79.52,67.01,62.63
27,42.24,40.07,27.82,27.83,23.96,48.32,10.12,25.22,28.73,19.15,...,21.16,26.63,8.72,11.12,25.62,14.41,31.76,54.49,52.99,47.64
28,69.64,67.79,6.82,18.62,11.38,71.60,35.00,11.77,56.83,46.88,...,23.24,53.85,29.41,29.44,52.05,16.38,53.75,83.50,76.68,71.70
29,42.68,41.02,22.55,17.31,17.41,61.31,23.58,28.36,40.25,31.46,...,8.97,38.83,5.25,3.22,38.23,18.05,45.14,64.20,65.83,60.46
30,50.65,48.49,21.90,25.19,19.20,51.16,12.71,16.81,34.30,24.35,...,20.88,31.52,13.52,15.35,29.94,6.37,33.59,60.86,56.09,50.87
31,49.37,47.37,18.73,20.08,15.08,55.77,16.89,18.36,37.49,27.69,...,15.29,35.10,9.85,11.08,33.80,7.32,38.46,63.53,60.62,55.33
32,72.34,69.84,50.05,58.01,50.21,35.88,29.96,34.36,38.19,33.64,...,55.40,34.38,46.86,49.12,31.81,36.05,23.42,60.11,40.50,37.36
33,63.18,61.21,10.06,19.42,11.04,63.62,26.80,7.28,48.64,38.70,...,20.78,45.64,23.14,23.68,43.84,8.24,45.77,75.34,68.68,63.65
34,61.79,59.40,31.73,39.11,31.43,44.14,16.87,17.39,35.03,26.48,...,36.64,31.24,29.55,31.60,28.79,17.12,26.70,61.28,49.24,44.64
35,24.12,22.38,69.57,66.75,65.21,36.32,39.00,65.77,20.76,28.01,...,58.29,24.65,44.97,46.29,27.28,55.99,36.09,17.91,37.34,33.92
36,45.04,43.36,20.18,15.47,15.06,61.99,23.75,26.31,41.42,32.37,...,7.60,39.80,6.52,5.10,39.06,16.30,45.50,65.80,66.60,61.23
37,70.07,67.94,18.29,29.05,20.69,61.92,29.10,2.99,50.41,40.83,...,30.69,46.96,31.13,32.14,44.78,14.05,44.33,77.24,67.03,62.34
38,52.84,51.33,13.69,6.53,8.58,69.76,30.95,25.09,49.98,40.64,...,3.35,48.12,15.44,13.99,47.18,18.04,52.74,74.71,74.50,69.16
39,45.59,43.66,20.83,19.59,16.41,56.49,17.83,22.66,36.86,27.38,...,13.13,34.86,5.54,6.66,33.87,11.73,39.66,62.19,61.20,55.85
40,37.83,35.38,40.19,40.55,36.63,36.43,7.81,34.45,15.95,6.50,...,33.45,13.95,19.73,22.00,13.26,25.14,21.39,42.11,40.88,35.51
41,40.76,39.61,27.92,18.48,22.76,69.32,33.07,37.36,47.03,39.26,...,10.88,46.27,14.35,11.96,46.09,27.84,54.02,68.72,73.59,68.24
42,33.49,31.36,34.19,31.41,29.64,48.46,15.00,33.82,26.32,18.43,...,23.31,25.39,9.44,11.12,25.25,22.80,33.75,49.88,52.71,47.36
43,74.84,72.77,17.57,29.22,21.29,67.80,34.93,7.94,56.38,46.74,...,32.50,52.95,35.19,35.88,50.79,18.67,50.27,83.21,72.91,68.27
44,47.63,45.99,17.67,12.74,12.48,64.12,25.57,25.16,43.90,34.70,...,5.39,42.16,9.23,7.90,41.32,15.88,47.39,68.50,68.78,63.43
45,57.63,55.42,21.44,27.97,20.48,51.72,16.11,10.95,37.78,28.01,...,25.69,34.52,20.73,22.38,32.53,5.96,33.87,64.64,56.79,51.78
46,42.07,39.61,54.79,56.25,51.74,20.93,20.19,46.10,5.09,9.40,...,49.34,2.39,35.61,37.84,2.97,38.78,10.86,29.83,25.12,19.76
47,37.74,35.28,54.64,55.19,51.25,23.99,20.42,47.16,1.47,8.56,...,47.88,2.68,33.94,36.05,5.29,39.04,15.15,28.32,27.75,22.51
48,66.84,64.75,15.64,25.85,17.46,61.38,26.96,0.79,48.60,38.86,...,27.10,45.28,27.61,28.55,43.22,10.66,43.62,75.46,66.49,61.66
49,34.57,32.78,30.77,25.85,25.76,55.86,20.95,33.94,33.59,25.82,...,17.29,32.77,5.82,5.79,32.64,22.86,40.92,56.26,60.10,54.75
50,46.00,43.58,35.51,38.18,32.79,37.66,1.64,27.24,21.43,11.69,...,32.42,18.26,20.37,22.79,16.45,19.37,20.43,48.29,42.54,37.28
51,40.97,38.48,50.23,51.60,47.12,25.17,15.66,41.98,6.95,4.89,...,44.74,3.29,31.08,33.34,1.95,34.31,12.18,33.57,29.55,24.17
52,25.61,24.10,39.73,33.06,34.56,57.95,27.94,43.79,34.53,29.07,...,24.40,34.84,15.64,15.12,35.44,32.69,45.12,53.37,61.67,56.47
53,84.80,82.67,27.23,39.03,31.46,72.29,43.14,17.52,63.73,54.51,...,42.93,60.07,45.54,46.34,57.72,28.66,55.49,90.29,77.33,73.08
54,55.45,52.98,39.08,44.36,37.63,34.42,11.98,26.70,25.30,17.75,...,40.04,21.42,29.68,32.04,18.88,22.92,16.70,51.17,39.53,34.74
55,58.80,56.97,7.63,13.13,5.23,65.49,27.12,14.10,48.40,38.51,...,13.95,45.81,18.61,18.58,44.33,9.56,47.80,74.61,70.46,65.26
56,51.13,49.43,14.08,11.22,9.00,64.61,25.75,21.76,45.27,35.76,...,6.64,43.25,11.75,10.97,42.19,13.31,47.50,70.47,69.38,64.06
57,39.87,37.49,35.90,36.51,32.38,39.85,5.16,30.49,20.19,10.48,...,29.68,17.95,16.31,18.67,16.96,20.92,23.88,46.40,44.45,39.08
58,53.71,52.00,11.51,10.31,6.52,65.59,26.70,19.82,46.83,37.18,...,8.05,44.65,14.09,13.49,43.47,12.41,48.27,72.34,70.43,65.13

In [624]:
df_dist['min_dist'] = df_dist.iloc[:, 5:].min(axis=1)

In [625]:
df_dist['under_1'] = df_dist.iloc[:, 5:].apply(lambda x: (x<1).sum(), axis=1)
df_dist['under_5'] = df_dist.iloc[:, 5:].apply(lambda x: (x<5).sum(), axis=1)
df_dist['under_10'] = df_dist.iloc[:, 5:].apply(lambda x: (x<10).sum(), axis=1)

In [ ]:
df_dist.to_csv('school_alley_distance.csv')